<%= javascript_include_tag "#{Constant::SERVER_PATH}/javascripts/answer_sheet.js" %>
<% if @note and @doc %>
  <div class="noteBook_left">
    <div class="se_nb_box">
      <div class="searchNotebook">
        <%= form_tag "/user/notes/#{params[:id]}/search", :method => "post" do -%>
          <input type="text" class="se_nb_input" name="note_text" id="note_text"
                 value="<% if session[:note_text] %><%= session[:note_text] %><% else %>请输入笔记关键字查询...<% end %>"
                 onfocus="javascript:document.getElementById('note_text').value='';" />
          <button type="submit" name="button" class="se_nb_btn"></button>
        <% end -%>
      </div>
    </div>
    <div class="clear"></div>
    <div class="notebook_con">
      <ul>
        <% @doc.root.elements["problems"].each_element do |problem|
          problem.elements["questions"].each_element do |question|
            unless (question.elements["note_text"].nil? or question.elements["note_text"].text.nil? or
                  question.elements["note_text"].text == "") %>
              <li class="nb_li_bg nb_li_height" id="show_note_<%= question.attributes["id"] %>"
                  onclick="javascript:note_question_info(<%= question.attributes["id"].to_i %>)">
                <span><%= question.elements["created_at"].text if question.elements["created_at"] and question.elements["created_at"].text %></span>
                <p style="word-wrap:break-word; word-break:break-all;">
                  <%= truncate_u(question.elements["note_text"].text, 100, "......") %>
                </p>
              </li>
              <li class="nb_li_bg00" style="display:none;" id="hidden_note_<%= question.attributes["id"] %>">
                <span><%= question.elements["created_at"].text if question.elements["created_at"] and question.elements["created_at"].text %></span>
                <div class="nb_li_con" id="note_<%= question.attributes["id"] %>">
                  <span style="word-wrap:break-word; word-break:break-all;"><%= question.elements["note_text"].text %></span>
                  <div class="nb_li_btn">
                    <button class="bianji_btn" onclick="javascript:update_note(<%= question.attributes["id"] %>);">编辑笔记</button>
                  </div>
                </div>
                <div class="bn_write" id="start_note_<%= question.attributes["id"] %>">
                  <%= form_tag "/user/notes/#{question.attributes["id"]}/update_note",
                    :class => "required-validate", :method => "post" do -%>
                    <input type="hidden" id="category_id_<%= question.attributes["id"] %>"
                           name="category_id_<%= question.attributes["id"] %>" value="<%= params[:id] %>"/>
                    <input type="hidden" id="q_xpath_<%= question.attributes["id"] %>"
                           name="q_xpath_<%= question.attributes["id"] %>" value="<%= question.xpath %>"/>
                    <textarea cols="" rows="" id="note_text_<%= question.attributes["id"] %>"
                              name="note_text_<%= question.attributes["id"] %>"><%= question.elements["note_text"].text %></textarea>
                    <div class="nb_li_btn"><button type="submit" class="baocun_btn">保存</button></div>
                  <% end %>
                </div>
              </li>
            <% end
          end
        end %>
      </ul>
      <div class="sabrosus"><%= handle_paginate(params[:page], @total_page) %></div>
    </div>
  </div>
  <div class="noteBook_right">
    <% first_question = nil %>
    <% @doc.root.elements["problems"].each_element do |problem|
      problem.elements["questions"].each_element do |question|
        unless (question.elements["note_text"].nil? or question.elements["note_text"].text.nil? or
              question.elements["note_text"].text == "")
              first_question = question.attributes["id"] if first_question == nil %>
          <div class="nb_r_box" id="question_info_<%= question.attributes["id"] %>" style="display:none;">
            <div class="nb_r_title">原题</div>
            <div class="nb_r_con">
              <!--原题-->
              <%= render :partial => "/user/notes/question_with_answer", :object => [question, problem] %>
            </div>
          </div>
        <% end
      end
    end %>
  </div>
<% else %>
  <div class="noteBook_left">您当前未做任何笔记。</div>
<% end %>
<script type="text/javascript">
  window.onload(note_question_info(<%= first_question %>));
</script>