<div class="shouye">
  <div class="mokao" >
    模考列表<br/>
    <% if @simulations.blank? %>
      <p style="font-size:120%;color:red;font-weight: bold;margin-left: 20px;margin-top: 80px;">当前没有模考...</p>
    <%else%>
      <% index=0 %>
      <% @simulations.each do |simulation| %>
        <tr>
          <%index += 1%>
          <td>&nbsp;模考<%= index %>:<%= simulation.title %></td>
          <% if @hash1["#{simulation.id}"] ==nil %>
            <td><input type="button" value="开始考试" class="practice" onclick="javascript:window.location.href='/user/examinations/<%= simulation.id %>/do_exam'"/></td>
          <%elsif @hash1["#{simulation.id}"].total_score.nil?%>
            <td><p style="font-size:70%;color:red;font-weight: bold;margin-left: 80px;">阅卷中...</p></td>
          <%else%>
            <td><p style="font-size:80%;margin-left: 40px;">得分：<%= @hash1["#{simulation.id}"].total_score %></p>分</td>
          <%end%>
        </tr>
      <%end%>
    <%end%>
  </div>

  <div class="mokao" >
    真题练习<br/>
    <div class="shuzi">
      <%=@hash["1"].nil? ? 0:@hash["1"][1] %>/<%=@hash["1"].nil? ? 0:@hash["1"][0]%>

    </div>
    <td><input type="button" value="开始练习" class="practice" onclick="javascript:window.location.href='/exam_lists/old_exam_list'"/></td>
  </div>

  <div class="mokao" >
    综合训练<br/>
    <div class="shuzi">
      <%=(@hash["2"].nil? ? 0:@hash["2"][1])+(@hash["3"].nil? ? 0:@hash["3"][1])+(@hash["4"].nil? ? 0:@hash["4"][1])+(@hash["5"].nil? ? 0:@hash["5"][1])+(@hash["6"].nil? ? 0:@hash["6"][1]) %>/<%=(@hash["2"].nil? ? 0:@hash["2"][0])+(@hash["3"].nil? ? 0:@hash["3"][0])+(@hash["4"].nil? ? 0:@hash["4"][0])+(@hash["5"].nil? ? 0:@hash["5"][0])+(@hash["6"].nil? ? 0:@hash["6"][0]) %>
    </div>
    <td><input type="button" value="开始训练" class="practice" onclick="javascript:window.location.href='/combine_practices'"/></td>
  </div>

  <div class="mokao" >
    <% if is_vip? %>
      信心指数:<br/>
      <div class="shu">
      <%= User.find(cookies[:user_id]).belief %>%
    <% else %>
      你当前还不是<font color="red">VIP</font>哦，购买<font color="red">VIP</font>可以显示你自己当前的信心指数，无限制的综合训练次数以及模考试卷主观题的修改，心动不如行动，赶快来<a href="#"><font color="blue">购买</font></a>吧</font>！
    <% end %>
      </div>
    <div class="xian">
    </div>

    错题训练：<br/>
    <% if @incorrect_list==nil %><font color="red">您当前没有错题</font><%else%>您当前有<%= @incorrect_list.elements['problems'].elements.size %>题<br/>
      <td><input type="button" value="开始训练" class="practice" onclick="javascript:window.location.href='/exam_lists/incorrect_list'"/></td>
      <%end%>
  </div>
</div>
