<div class="main">
  <div class="person_box">
    <% if @simulations.blank? %>
      <p style="font-size:120%;color:red;font-weight: bold;margin-left: 20px;margin-top: 80px;">当前没有模考...</p>
    <%else%>
      <% @simulations[0, 3].each do |simulation| %>
        <div class="m_box_one mnks">
          <div class="per_con">
            <h2><%= simulation.title %></h2>
            <p><%= simulation.start_at_time.nil? ? "不限制时间":simulation.start_at_time %></p>
          </div>
          <div class="per_btn"> <% if @hash1["#{simulation.id}"].nil? %>
              <a href="/user/examinations/<%= simulation.id %>/do_exam">进入考场</a>
            <% elsif @hash1["#{simulation.id}"].total_score.nil? or @hash1["#{simulation.id}"].total_score == 0 %>
              <p style="font-size:70%;color:red;font-weight: bold;margin-left: 80px;">阅卷中...</p>
            <% else %>
              <p style="font-size:80%;margin-left: 40px;">得分：<%= @hash1["#{simulation.id}"].total_score %></p>
            <% end %></div>
          <div class="per_ex_p"><span class="red">*</span>模拟考试帮助我们了解你的水平和准备程度更好的预测你通过考试的可能性。</div>
        </div>
      <% end %>
    <% end %>

    <div class="m_box_one ztlx">
      <div class="per_con">
        <% pro=(@type_hash["#{Examination::TYPES[:OLD_EXAM]}"][1].nil? ? 0 : @type_hash["#{Examination::TYPES[:OLD_EXAM]}"][1]).to_f/(@type_hash["#{Examination::TYPES[:OLD_EXAM]}"][0].nil? ? 1 : @type_hash["#{Examination::TYPES[:OLD_EXAM]}"][0])*100 %>
        <h2>完成度： <span class="red"><%= "#{pro.to_i}%"   %></span></h2>
        <h2>正确率： <span class="red"><%= "#{@correct.to_i}%" %></span></h2>
      </div>
      <div class="per_btn"><a href="/exam_lists/old_exam_list">开始练习</a></div>
      <div class="per_ex_p"><span class="red">*</span>新四级历年真题及丰富详实的解析，有自动搜索错题的功能。</div>
    </div>

    <div class="m_box_one zhxl">
      <div class="per_con">
        <% progress=(@type_hash["2"].nil? ? 0 :
            @type_hash["2"][1])*1.0/(@type_hash["2"].nil? ? 1 : @type_hash["2"][0]) %>
        <div class="per_load_bg"><div class="per_load_t" style="width:<%= (progress*100).to_s + "%" %>"></div></div>
        <p><span class="red"><%= @type_hash["2"].nil? ? 0 : @type_hash["2"][0] %></span> 篇</p>
      </div>
      <div class="per_btn"><a href="/combine_practices">开始训练</a></div>
      <div class="per_ex_p"><span class="red">*</span>60篇短文，密集训练听力词汇阅读和写作能力。</div>
    </div>

    <div class="m_box_two">
      <div class="per_two_box">
        <div class="per_tb_title per_tb_xinx">信心</div>
        <h3><span class="red">
            <% if is_vip? %>
              <div class="shu">
                <%= User.find(cookies[:user_id]).belief %>%
              </div>
            <% else %>
              你当前还不是<font color="red">VIP</font>哦，购买<font color="red">VIP</font>可以显示你自己当前的信心指数，无限制的综合训练次数以及模考试卷主观题的修改，心动不如行动，赶快来<a href="/users/goto_vip"><font color="blue">购买</font></a>吧</font>！
            <% end %>
          </span></h3>
        <p><a href="#">如何增加信心？</a></p>
      </div>

      <div class="per_two_box">
        <div class="per_tb_title per_tb_ctk">错题库</div>
        <h3><span class="red"><%= @incorrect_list.elements['problems'].elements.size %></span> 错题</h3>
        <p><a href="/exam_lists/incorrect_list">马上复习</a></p>
      </div>
      <div class="per_two_box">
        <div class="per_tb_title per_tb_biji">笔记</div>
        <h3><span class="red"><%= @notes.elements['problems'].elements.size %></span> 篇</h3>
        <p><a href="/user/notes">翻阅笔记</a></p>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
