<%= javascript_include_tag 'my_app.js' %>
<div class="wrap">
  <div class="head"><div class="logo"><a href="/"><img src="/images/paper/logo1.png" /></a></div></div>
  <div class="main">
    <%= form_for @user, :html =>{:onsubmit => ' return check_new()', :class => "required-validate"} do |f| %>
      <div class="zd_jd"><img src="/images/paper/zd_jd0.png" /></div>
      <div class="zhuce_box">
        <div class="rcf_box">
          <label>邮箱：</label>
          <%= f.text_field :email, :class => "required input_style" %>
          <p class="rcf_p">确保邮箱有效，我们将发送激活说明到此地址，每个邮箱只能使用一次</p>
          <p class="rcf_p red" id="emailErr"><%= flash[:emailused] %></p>
        </div>
        <div class="rcf_box">
          <label>密码：</label>
          <%= f.password_field :password, :class => "required input_style" %>
          <p class="rcf_p">密码长度在6到20位之间</p>
        </div>
        <div class="rcf_box">
          <label>确认密码：</label>
          <%= f.password_field :password_confirmation, :class => "required input_style" %>
        </div>
        <div class="rcf_box">
          <label>昵称：</label>
          <%= f.text_field :name, :class => "required input_style" %>
        </div>
        <div class="rcf_box">
          <label>学校：</label>
          <%= f.text_field :school, :class => "required input_style" %>
        </div>
        <div class="zhuce_xy">
          <input type="checkbox" name="read_file" id="read_file"  value="999" onclick="javascript:buttoncontrol();"/>我已经阅读且同意<a href="#">《赶考网络服务使用协议》</a></div>
        <div class="zd_tj_btn00" id="btn_div">
          <button type="submit" class="reg_btn_no" disabled="disabled" id="submit_button"></button>
          <%= image_tag "ajax-loader.gif", :id => "spinner_user", :style => "display:none" %>
        </div>
      </div>
    <% end %>
    <script type="text/javascript">buttoncontrol()</script>
  </div>
  <div class="clear"></div>
  <div class="foot">
    <p><a href="#">用户协议</a>   |   <a href="#">关于我们</a>    |   <a href="#">官方微博</a></p>
    <p>Copyright © 2011 gankao.co 版权所有 苏ICP备11024201</p>
  </div>
</div>
