<%= javascript_include_tag 'my_app.js' %>
<div class="wrap">
  <div class="main">
    <%= form_for @user, :html =>{:onsubmit => ' return check_new()', :class => "required-validate"} do |f| %>
      <div class="zd_jd"><img src="/images/paper/zd_jd0.png" /></div>
      <div class="zhuce_box">
        <div class="rcf_box">
          <label>邮箱：</label>
          <div class="setting-item-main">
            <%= f.text_field :email, :class => "required input_style" %>
            <p class="rcf_p">确保邮箱有效，我们将发送激活说明到此地址，每个邮箱只能使用一次</p>
            <p class="rcf_p red" id="emailErr"><%= flash[:emailused] %></p>
          </div>
        </div>
        <div class="rcf_box">
          <label>密码：</label>
          <div class="setting-item-main">
            <%= f.password_field :password, :class => "required input_style" %>
            <p class="rcf_p">密码长度在6到20位之间</p> <p class="rcf_p red" id="passwordErr"></p>
          </div>
        </div>
        <div class="rcf_box">
          <label>确认密码：</label>
          <div class="setting-item-main">
            <%= f.password_field :password_confirmation, :class => "required input_style" %>
            <p class="rcf_p red" id="confirmationErr"></p>
          </div>
        </div>
        <div class="rcf_box">
          <label>昵称：</label>
          <div class="setting-item-main">
            <%= f.text_field :name, :class => "required input_style" %>
            <div class="rcf_p red" id="usernameErr"></div>
          </div>
        </div>
        <div class="rcf_box rcf_box_bottom">
          <label>学校：</label>
          <div class="setting-item-main">
            <%= f.text_field :school, :class => "required input_style" %>
          </div>
        </div>
        <div class="zhuce_xy">
          <input type="checkbox" name="read_file" id="read_file"  value="999" onclick="javascript:buttoncontrol();"/>我已经阅读且同意<a href="#">《赶考网络服务使用协议》</a></div>
        <div class="zd_tj_btn00" id="btn_div">
          <button type="submit" class="reg_btn_no" disabled="disabled" id="submit_button"></button>
          <%= image_tag "ajax-loader.gif", :id => "spinner_user", :style => "display:none" %>
        </div>
      </div>
    <% end %>
    <script type="text/javascript">buttoncontrol()</script>
  </div>
  <div class="clear"></div>
  <div class="foot">
    <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="http://weibo.com/gankao2011" target="_blank">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
    <p>Copyright © 2011-2012 &nbsp;&nbsp;苏州协创软件有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>
  </div>
</div>