<div class="main_box_back">
  <h2><span>个人信息&nbsp;&nbsp;<font color="#0cf">Information</font></span></h2>
  <div class="in">
    <p>邮箱：<%=  @user.email %><a href="/users/<%= @user.id %>/edit" style="float:right;color:#00A8E6">修改个人信息&nbsp;&nbsp;&nbsp;</a></p>
    <br/><br/><br/>
    <table style="text-align:center">
      <thead>
        <tr>
          <th width="150" style="text-align:center">考试名称</th>
          <th width="70" style="text-align:center">题目总数</th>
          <th width="120" style="text-align:center">本场开考时间</th>
          <th width="80" style="text-align:center">考试状态</th>
          <th width="110" style="text-align:center">参与考试时间</th>
          <th width="80" style="text-align:center">成绩</th>
          <th width="120" style="text-align:center">考卷</th>
        </tr>
      </thead>
      <tbody>
        <%if !@examinations.nil?%>
          <% @examinations.each do |examination| %>
            <%
            class_name = "now"
            state_name = "考试进行中"
            if examination.is_submited == 1 or examination.u_total_score
              class_name = "ever"
              state_name = "已参加"
            elsif (examination.is_free and examination.exam_free_end_at < Time.now) or
                (!examination.start_at_time.nil? and examination.exam_time.nil? and examination.exam_time !=0 and
                  (examination.start_at_time + (examination.exam_time.nil? ? 0 :examination.exam_time.minutes) < Time.now))or
                examination.status == Examination::STATUS[:CLOSED]
              class_name = "never"
              state_name = "已过期"
            elsif !examination.start_at_time.nil? and examination.start_at_time > Time.now
              class_name = "never"
              state_name = "未开始"
            end
          %>
            <tr class="<%= class_name %>">
              <td><b><%= examination.title %></b></td>
              <td><%= examination.total_question_num %>题</td>
              <td><% if examination.start_at_time!=nil ; %><%= examination.start_at_time.strftime("%Y-%m-%d %H:%M:%S") %><% else %>任意时间<% end %></td>
              <td><%= state_name%></td>
              <td>
                <% unless examination.started_at.nil? %><%= examination.started_at.strftime("%Y-%m-%d %H:%M:%S") %>
                <% else %>-
                <% end %>
              </td>
              <td><% unless examination.u_total_score.nil? %><%= examination.u_total_score %><% else %>-<% end %></td>
              <td>
                <% if examination.u_total_score %>
                  <% if examination.is_paper_open %>
                    <%= link_to "查看", "/user/exam_users/#{examination.ex_id}?user_id=#{cookies[:user_id]}" %>
                  <% else %>
                    考卷不公开
                  <% end %>
                <% elsif examination.is_submited == 1 %>
                  批卷中...
                <% elsif examination.is_free and examination.exam_free_end_at < Time.now %>
                  免费考试结束
                <% elsif !examination.start_at_time.nil? and examination.start_at_time > Time.now %>
                  等待考试开始...
                <% elsif (!examination.start_at_time.nil? and !examination.exam_time.nil? and examination.exam_time !=0 and
                      (examination.start_at_time + examination.exam_time.minutes) < Time.now) or
                    examination.status == Examination::STATUS[:CLOSED] %>
                  考试结束
                <% else %>
                  <% if examination.exam_password1.nil? %>
                    <a href="/user/examinations/<%= examination.id %>/do_exam" target="_blank">开始考试</a>
                  <% else %>
                    <a href="/user/examinations/<%= examination.id %>/enter_password" target="_blank">开始考试</a>
                  <% end %>
                <% end %>
              </td>
            </tr>

          <% end %>
        <% end %>
        <% if !@examinations.nil? %>
        <div class="pagination_box">
          <%=will_paginate @examinations ,:prev_label=>"«", :next_label=>"»", :inner_window => 1 %>
        </div>
      <% end %>
      </tbody>
    </table>
    <br/>
    <div id="set_role_div"></div>
  </div>
</div>