<div class="wrap">
  <div class="head_index">
    <div class="head_top">
      <% unless cookies[:user_id] %>
        <%= form_for(:session, :url => sessions_path ,
          :html => {:onsubmit => "return signin_page()", :class => "required-validate"} ) do |f| %>
          <div class="top_other_zh">
            <span class="t_o_text">使用其他帐号登录：</span>
            <a href="#" onclick ="javascript:window.open('/pages/login_from_qq', '_blank', 'height=500,width=800,left=200,top=100');"><img src="/images/paper/qq.png" /></a>
            <a href="#" onclick ="javascript:window.open('/sessions/renren_login', '_blank', 'height=500,width=800,left=200,top=100');">
              <img src="/images/paper/renren.png" />
            </a>
            <a href="#" onclick ="javascript:window.open('/sessions/sina_login', '_blank', 'height=500,width=800,left=200,top=100');">
              <img src="/images/paper/sina.png" />
            </a>
          </div>
          <div class="top_loginArea">
            <div class="login_i_text"><label>帐号：</label><%= f.text_field :email, :value=>"",:class => "login_input" %></div>
            <div class="login_i_text"><label>密码：</label><%= f.password_field :password ,:value=>"",:class => "login_input" %></div>
            <div class="login_i_text login_i_padding"><button type="submit" class="login_i_btn"></button></div>
            <div class="login_i_text login_i_padding"><a href="/users/new">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sessions/get_code">忘记密码</a></div>
          </div>
        <%end%>
      <% else %>
        <div class="top_other_zh">&nbsp;</div>
        <div class="top_loginArea">
          <div class="top_la_ks">
            <div class="login_i_text">
              Welcome,<a href="/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>" class="signColor">
                <%= current_user.name if current_user %></a>
              <% if (is_vip?).to_s == "true" %><img src="/images/paper/V.png" /><% else %><a href="/users/goto_vip"><img src="/images/paper/v0.png" /></a><% end %>
              |
              <a href="/users/<%= cookies[:user_id] %>/edit">个人中心</a>|
              <a href="/signout">退出</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="logo"><a href="/"><img src="/images/paper/logo.png" /></a></div>
    <div class="iphone_text">
      <p> 升级VIP，参加<span class="red">Iphone4s</span>抽奖</p>
      <p>距离下次抽奖还有<em class="red">1000</em>人</p>
    </div>
    <div class="set_in_fx"><a href="#"></a></div>
    <div class="nav_cet" style="display:none;">
      <a href="/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>" target="_blank" class="nav_cet_4">CET-4</a>
      <a href="/user/homes/<%= Category::TYPE_IDS[:english_sixth_level] %>" target="_blank" class="nav_cet_6">CET-6</a>
    </div>
    <div class="clear"></div>
  </div>

  <div class="main_index">
    <div class="main_index_top">
      <div class="lunbo_box">

        <div class="change">
          <ul>
            <li><a href="#"><img src="/images/paper/01.png"/></a></li>
            <li><a href="#"><img src="/images/paper/02.png"/></a></li>
            <li><a href="#"><img src="/images/paper/03.png"/></a></li>
          </ul>
        </div>
        <div class="weibo"><a href="#" onclick ="javascript:window.open('/sessions/friend_add_request', '_blank', 'height=400,width=600,left=300,top=150');" ><img src="/images/paper/sina_weibo.png" /></a>
          <a href="#" onclick ="javascript:window.open('/sessions/qq_weibo', '_blank', 'height=650,width=750,left=300,top=50');" ><img src="/images/paper/qq_weibo.png" /></a></div>
        <div class="index_qq"><span>在线客服:</span><a href="tencent://message/?uin=2568830556&amp;Site=赶考网&amp;Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:2568830556:7" alt="有事点这里"></a></div>
      </div>

    </div>
    <div class="main_index_con">
      <div class="pd_con_box">
        <div class="pd_h pd_mn">模拟考试</div>
        <div class="pd_text">
          <p>高质量模拟考试，帮助准确估量应试水平；万人在线模考，了解自己在备考众人中的位置。</p>
        </div>
      </div>
      <div class="pd_con_box">
        <div class="pd_h pd_zt">真题训练</div>
        <div class="pd_text">
          <p>历年新四级真题，仔细校对，并补充了完整的试题解析，知其然，更知其所以然。</p>
        </div>
      </div>
      <div class="pd_con_box">
        <div class="pd_h pd_zh">综合训练</div>
        <div class="pd_text">
          <p>清晰的听力录音，完全在线播放，无需到处寻找，节省你的时间。</p>
        </div>
      </div>
      <div class="pd_con_box">
        <div class="pd_h pd_ctk">个人错题库</div>
        <div class="pd_text">
          <p>自动搜集错题，提供重复练习的机会，帮助你查漏补缺，更进一步。</p>
        </div>
      </div>
      <div class="pd_con_box">
        <div class="pd_h pd_mfei">完全免费</div>
        <div class="pd_text">
          <p>基础服务全面满足备考需求，我们承诺终生免费。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="foot_index">
    <div class="foot_index_box">
      <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="#">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
      <p>Copyright © 2011-2012 &nbsp;&nbsp;苏州协创软件有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>

    </div>
  </div>
</div>
