<div class="shouye">
<div class="mokao" >
  模考列表<br/>
  <% @simulations.each do |simulation| %>
    <tr>
      <% exam_user=ExamUser.find_by_user_id_and_examination_id(cookies[:user_id],simulation.id) %>
      <td><%= simulation.title %></td>
      <% if exam_user ==nil %>
        <td><input type="button" value="开始考试" class="practice" onclick="javascript:window.location.href='/user/examinations/<%= simulation.id %>/do_exam'"/></td>
      <%else%>
        <% unless exam_user.total_score.nil?%>
          <td><%= exam_user.total_score %></td>
        <%else%>
          <td><input type="button" value="开始考试" class="practice" onclick="javascript:window.location.href='/user/examinations/<%= simulation.id %>/do_exam'"/></td>
        <%end%>
      <%end%>
    </tr>
  <%end%>
</div>
<div class="mokao" >
  真题练习<br/>
  <div class="shuzi">
  <%= ExamUser.find_by_sql("select count(ex.id) sum from exam_users ex inner join examinations eu on ex.examination_id=eu.id where ex.is_submited=1 and eu.types=1 and ex.user_id='#{cookies[:user_id]}'" )[0].sum %>/<%=@old_exams.size %>
  </div>
  <td><input type="button" value="开始练习" class="practice" onclick="javascript:window.location.href='/papers/new'"/></td>
</div>
<div class="mokao" >
  综合训练<br/>
  <div class="shuzi">
    <%= ExamUser.find_by_sql("select count(ex.id) sum from exam_users ex inner join examinations eu on ex.examination_id=eu.id where ex.is_submited=1 and (eu.types=2 or eu.types=3 or eu.types=4 or eu.types=5 or eu.types=6) and ex.user_id='#{cookies[:user_id]}'")[0].sum %>/<%=@practices.size %>
  </div>
  <td><input type="button" value="开始训练" class="practice" onclick="javascript:window.location.href='/papers/new'"/></td>
</div>
<div class="mokao" >
  信心指数<br/>
</div>
</div>