<%= javascript_include_tag 'jquery' %>
<script type="text/javascript">jQuery.noConflict();</script>
<div id="paper_show_info">
  <ul class="tab_biz">
    <li class="actived"><a href="javascript:void(0);"><%= @xml.elements['base_info'].elements['title'].text %></a></li>
  </ul>
</div>
<%= form_for :over,:url=>"/rater/exam_raters/#{@exam_user.id}/over_answer"  do |f| %>
  <input type="hidden" id="problem_id" name="problem_id" value="<%=@xml.attributes["ids"]  %>" />
  <input type="hidden" name="examination_id" id="examination_id" value="<%=@exam_user.examination_id  %>" />
  <input type="hidden" name="rater_id" value="<%= @reading.id %>" />
  <div id="flash_notice"></div>
  <% @xml.elements['blocks'].each_element do |block|%>
    <h1 class="biz_art_title" id="block_show">
      <%= block.elements['base_info'].elements['title'].text.to_s.html_safe %>
      (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)
    </h1>
    <div class="biz_art_list_box">
      <%= block.elements["base_info"].elements["description"].text.to_s.html_safe %>
      <ul>
        <% if !block.elements['problems'].nil? %>
          <% block.elements['problems'].each_element do |problem| %>
            <% if !problem.elements['title'].nil? %>
              <li>
                <h2>
                  <a href="javascript:void(0)" onclick="javascript:question_style(<%= problem.attributes["id"].to_i %>)">
                    <% if problem.elements['title'].nil? or problem.elements['title'].text.nil? or problem.elements['title'].text == "" %>
                      暂无标题
                    <% else %>
                      <%= truncate_u(problem.elements['title'].text.to_s.html_safe.gsub(/<[^{><}]*>/, ""), 40, "......") %>
                    <% end %>
                  </a>
                </h2>
                <div id="<%= problem.attributes["id"].to_i %>" style="display:none">
                  <%= render :partial=>"/rater/exam_raters/single_question",:object=>problem %>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="biz_art_list_box">
    <center>
      <%=f.submit value="批阅完毕" ,:disabled=>"disabled",:id=>"button_id"  %>
    </center>
  </div>
<% end %>
<div class="clear"></div>
<script type="text/javascript">active_button()</script>
