<div class="main_box_back">
  <h2><span>最新活动</span></h2>
  <div class="in">
    <div style="border:1px #000 solid;width:800px;height:65px;padding:3px;">
      <% if @examination[0]!=nil %>
        <% if @examination[0].exam_users==nil||@examination[0].exam_users.find_by_user_id(cookies[:user_id]).nil? %>
          "<%= @examination[0].title %>"考试名额免费发放中，有兴趣的同学速度来领取呀！赶考网每场考试提供<%= Constant::FREE_NUM %>个免费考试名额。<br/>目前还有<font color="red"><%= Constant::FREE_NUM-@free_num %></font>个名额。请广大考生在<font color="red"><%= @examination[0].get_free_end_at.strftime("%Y年%m月%d日") %></font>前领取。机不可待，时不再来！<br/>
          <input id="lingqu_button"<% if cookies[:user_id]==nil %> onclick="javascript:show_login();" <%else%> onclick="javascript:ajax_notice(<%= @examination[0].id %>,<%=  @examination[0].papers.first.id %>);" <%end%>  style="position:inherit;float:right;top:40px;"type="button" value="我要领取" class="test"> </input>
        <% else %><div style="height:38px;">您已经成功领取了"<%= @examination[0].title %>"的考试名额。请于<font color="red"><%= @examination[0].exam_free_end_at.strftime("%Y年%m月%d日") %></font>前完成考试。我们将在考试截止后3天内为您报告此次考试的成绩以及整体排名情况。</div>
          <input  style="position:inherit;float:right;top:40px;"type="button" value="我要领取" class="test_disabled" disabled="true"/>
        <% end %>
      <% else %>
        <div style="height:38px;">当前没有名额发放。</div>
      <%end%>
    </div>
    <div style="margin-top:15px;border:1px #000 solid;width:800px;height:65px;padding:3px;">
      <div style="height:38px;">优惠区。打一折的，有木有。</div><input style="position:static;float:right;margin-bottom:5px;" type="button" class="test" value="打包购买" <% if cookies[:user_id]==nil %> onclick="javascript:show_login();" <%else%>  onclick="window.location.href='/payments/packed_payoff'" <% end %>/>
    </div>
    <br/>
  </div>
</div>
<div class="clear"><br/><span style="float:left;margin-left:10px;">模拟测试区</span><span style="float:left;margin-left:463px;">特色功能介绍</span></div>

<div style="border:1px #000 solid;width:480px;height:200px;margin-top:10px;padding:10px;float:left;">
  模拟收费区的简介和描述。
  <input style="float:right;margin-top:170px;" class="test" type="submit" value="我要参加" <% if cookies[:user_id]==nil %> onclick="javascript:show_login();" <%else%> <% if @examination[0]!=nil %> onclick="javascript:window.location.href='/payments/<%= @examination[0].id %>/payoff'" <% end %> <% end %>/>
</div>

<div style="border:1px #000 solid;width:260px;height:200px;margin-left:20px;margin-top:10px;padding:10px;float:left;">
  特色功能的文字描述。<br/><br/><br/><br/><br/>
</div>
<div id="ajax_notice" >
</div>
<div id="login" style="display:none;position:absolute;width:450px;height:260px;top:200px;left:400px;border:1px solid;background-color:white;padding:4px;font-size:12px;">
  <div style="height:200px;">
    <font color="#0df"> 亲爱的用户，您好：</font><br/>
    <p>如果你已经有赶考网帐号，或者人人、QQ帐号，请先<a href="/sessions/new"><font color="blue">登陆</font></a>。</p>
    <p>如果你还没有帐号，请您填写如下信息，系统将允许您临时登录。</p>

    <%= form_for :user,:url=>"/advertise/login" do |f|%>
      <table style="margin-left:50px;">
        <td><font color="red">*</font>注册邮箱：</td>
        <td height="38"><%= f.text_field :email %></td>
        <tr>
          <td><font color="red">*</font>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
          <td height="38"><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><font color="red">*</font>学&nbsp;&nbsp;&nbsp;&nbsp;校：</td>
          <td height="38"><%= f.text_field :school %></td>
        </tr>
      </table>
      <input type="submit" class="test" value="确定" ></input>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="test" value="取消" onclick="javascript:$('login').style.display='none';"/>
    <% end %>
  </div>
</div>



