<div class="login_show_img" id="login_back"></div>
<div class="login_box">
  <div id="div_tab1">
    <div class="top1">
      <p style="margin-top: 15px;font-size:140%;color:forestgreen;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户登录</p><br/>
      <%= form_for(:session, :url => sessions_path ,:html => {:onsubmit => "return signin_page()", :class => "required-validate"} ) do |f| %>
        <table>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;邮箱：</td>
          <td><%= f.text_field :email, :class => "required input_style" %></td>
          <div id="email"></div>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;密码：</td>
            <td><%= f.password_field :password, :class => "required input_style" %></td>
          <div id=""></div>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" class="login_btn1" />
              <a href="/sessions/get_code" ><font color="#00A8E6">忘记密码？</font></a></td>
          </tr>

          <tr>
            <td align="center" colspan="2">
              <div id="error_msg"<font color="red"><span><%=flash[:error]%></span>&nbsp; <font color="red"> <%= flash[:error2] %></font></div>
            </td>
          </tr>
        </table>
      <%end%>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用其他帐号登录

    </div>
    <div class="login1">
      <p style="margin-top:15px; margin-left: 30px;">还没有注册帐号?</p><br/>
      <input type="button" value="立即注册" class="test1" onclick="javascript:window.location.href='/users/new'"/>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="Test">
  <p style="margin-top:15px;">&nbsp;&nbsp;&nbsp;&nbsp;四级模拟考试</p>
      <input type="button" value="立即体验" class="test" onclick="javascript:window.location.href='/sessions'"/>
</div>
<div class="Test1">
  <p style="margin-top:15px;">&nbsp;&nbsp;&nbsp;&nbsp;六级模拟考试</p>
      <input type="button" value="立即体验" class="test1" onclick="javascript:window.location.href='/seesions'"/>
</div>
<div class="problem">
  <p style="margin-top:10px;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;常见问题：</p>
  <div class="link">
  <strong>·</strong><a href="/sessions/new" ><font color="blue">&nbsp;模拟考试的成绩什么时候公布？</font></a><br/>
    <strong>·</strong><a href="/sessions/new" ><font color="blue">&nbsp;近期的考试安排？</font></a><br/>
    <strong>·</strong><a href="/sessions/new" ><font color="blue">&nbsp;如何付费？</font></a>
  </div>
</div>
<div class="clear"></div>