<div class="errorLibrary_right" >
  <div class="searchProblem"><input name="description"  id="description_<%= feedback[0].attributes["id"] %>" type="text" class="se_input" value="输入想知道的问题..." onfocus="javascript:$('description_<%= feedback[0].attributes["id"] %>').value='';" />
    <input  type="button" value="提问" class="se_btn" onclick="javascript:feedb('<%= feedback[0].attributes["id"] %>','<%= feedback[1].attributes["id"] %>')" /></div>
  <div class="answerPro">
    <ul>
     问题列表：<br/>
      <% @hash_list["#{feedback[0].attributes["id"]}"].each do |feed| %>
        <li>
          <div class="an_p danHang"  onmouseover="javascript:$('<%= feed.id %>').style.display='block';" onmouseout="javascript:$('<%= feed.id %>').style.display='none';" >
           <%= feed.description %></div>
          <div class="an_member" id="<%= feed.id %>" style="display:none">
            <%if feed.answer.nil? %>
              <%= "等待回答中..." %>
            <%else%>
              <%=feed.answer %>
            <%end%>
          </div>
        </li>
      <%end unless @hash_list["#{ feedback[0].attributes["id"]}"].nil?%>
    </ul>
  </div>
</div>