
问题列表：<br/>
<table>
  <% index=0 %>
  <% @feedbacks.each do |feedback| %>
    
    <tr>
      <td><div class="xian2"></div><% index += 1 %>：<%= feedback.description %></td>
    </tr>
    <tr>
      <%if feedback.answer==nil%>
        <td><font color="red">等待回答中...</font></td>
      <%else%>
        <td><%= feedback.answer %></td>
      <%end%>
    </tr>
  <%end unless @feedbacks.nil?%>
</table>
&nbsp;&nbsp;&nbsp;&nbsp;请在以下输入框输入你遇到的问题：
<%= form_for :feedback, :url=>"/exam_lists/feedback" do |f| %>
<input type="hidden" value="<%= @id %>" id="id" name="id"/>
  <div class="field">
    <%= f.text_area :description, :size => "30" %>
  </div>
  <div class="actions">
    <%= f.submit "提交问题" %>
  </div>
<% end %>