<div class="title">
  <div style="float:left;display: inline;width:75%;">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= @lists.elements["title"].text.to_s.html_safe %>
  </div>
  <div class="clear"></div>
</div>
<% @lists.elements["questions"].each_element do |question| %>
  <div class="question">
    &nbsp;&nbsp;&nbsp;&nbsp;小题描述：
    &nbsp;&nbsp;&nbsp;&nbsp;<%= question.elements["description"].text if question.elements["description"] %>
    [<%= question.attributes["score"] %>分]
    [<span id="user_score_<%= question.attributes["id"].to_i %>">
      <font color="red">得<%= question.attributes["user_score"].to_i.to_s+"分" %></font>
    </span>]
    <% attrs_str = question.elements["questionattrs"].text
    attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
    correct_type = question.attributes["correct_type"]
    answer = question.elements["answer"]
    answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
    user_answer=question.elements["user_answer"].text
    user_answers=user_answer.nil? ? [] :  user_answer.split(";|;")
    (0..attrs_array.length-1).each do |i|
      is_answer = answers.include?(attrs_array[i])
      is_user_answer=user_answers.include?(attrs_array[i])
    %>
      <div class="attr" <% if is_answer %>style="border: 1px green solid;"<% end %>>
        <% if !correct_type.nil? %>
          <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                           id="question_attr_<%= i %>"  <% if is_user_answer %>checked="true"<% end %> />
                                         <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                           id="question_attr_<%= i %>" <% if is_user_answer %>checked="true"<% end %> />
                                         <% end %>
          <label><%= attrs_array[i] %></label>
        <% end %>
      </div>
    <% end if attrs_array and attrs_array.any? %>
    <div class="attr" >
      <% if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
        <div <% if answers[0].to_i==1 %>style="border: 1px green solid;"<% end %>>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"<% if user_answer==1.to_s %>
                                                                                                                   checked="true"<% end %>  /><label>对</label></div>
        <div <% if answers[0].to_i==0 %>style="border: 1px green solid;"<% end %>>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  <% if user_answer==0.to_s %>
                                                                                                                   checked="true"<% end %>  /><label>错</label></div>
        <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
        %>
        <div style="border: 1px green solid;">&nbsp;&nbsp;&nbsp;&nbsp;<%= "答案："+ answers[0].to_s %> </div>
        <div ><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;<%= "考生答案："+ user_answers[0].to_s %></font></div>
      <% end  %>
    </div>
  </div>

  <div class="title">&nbsp;&nbsp;&nbsp;&nbsp;解析：<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<% analysis = question.elements["analysis"] %>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= if analysis and !analysis.nil?
      analysis.text
    end %>
  </div>
  <div class="title">&nbsp;&nbsp;&nbsp;&nbsp;知识点标签：
    &nbsp;&nbsp;&nbsp;&nbsp;<%= question.elements["tags"].text %>
  </div>
<% end %>
  <div>
   <% if @has_next_page %>
      <% current_page = (params[:page] and params[:page].to_i > 1) ? params[:page].to_i : 1 %>
      <a href="/exam_lists/question_info?page=<%= current_page + 2 %>">下一题</a>
    <% end %>
  </div>
