<div class="part_question">
  <div>
    <% question_with_answer.elements["questions"].each_element do |question| %>
      <div class="p_question_list question_no"  >
        <div class="p_q_l_left"><%= question.attributes["id"] %></div>
        <div class="p_q_l_right" onmouseover="javascript:$('question_<%= question.attributes["id"] %>').style.display='block';" 
              >
          <div class="p_contents">
            <p>小题描述：
              &nbsp;&nbsp;&nbsp;&nbsp;<%= question.elements["description"].text if question.elements["description"] %>
            </p>
          </div>
          <span id="user_score_<%= question.attributes["id"].to_i %>">
          </span>
          <ul class="chooseQuestion">
            <% attrs_str = question.elements["questionattrs"].text
            attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
            correct_type = question.attributes["correct_type"]
            answer = question.elements["answer"]
            answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
            user_answer=question.elements["user_answer"].text
            user_answers=user_answer.nil? ? [] :  user_answer.split(";|;")
            (0..attrs_array.length-1).each do |i|
              is_answer = answers.include?(attrs_array[i])
              is_user_answer=user_answers.include?(attrs_array[i])
            %>
              <div class="attr" <% if is_answer %>style="border: 1px green solid;"<% end %>>
                <% if !correct_type.nil? %>
                  <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                   id="question_attr_<%= i %>"  <% if is_user_answer %>checked="true"<% end %> />
                                                 <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                   id="question_attr_<%= i %>" <% if is_user_answer %>checked="true"<% end %> />
                                                 <% end %>
                  <label><%= attrs_array[i] %></label>
                <% end %>
              </div>
            <% end if attrs_array and attrs_array.any? %>
            <div class="attr" >
              <% if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
                <div <% if answers[0].to_i==1 %>style="border: 1px green solid;"<% end %>>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"<% if user_answer==1.to_s %>
                                                                                                                           checked="true"<% end %>  /><label>对</label></div>
                <div <% if answers[0].to_i==0 %>style="border: 1px green solid;"<% end %>>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  <% if user_answer==0.to_s %>
                                                                                                                           checked="true"<% end %>  /><label>错</label></div>
                <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
                %>
                <div style="border: 1px green solid;">&nbsp;&nbsp;&nbsp;&nbsp;<%= "答案："+ answers[0].to_s %> </div>
                <div ><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;<%= "考生答案："+ user_answers[0].to_s %></font></div>
              <% end  %>
            </div>
          </ul>
          <div class="p_question_btn" style="display: none;"><button class="save">保存</button><button class="Uncertain">不确定</button></div>
          <div class="fraction"><%= question.attributes["score"] %>分</div>
        </div>
        <div class="clear"></div>
        <div class="review_btn">
          <input  id="btn_<%= question.attributes["id"] %>_analysis" type="hidden" value="<%=  %>"/>
          <button class="jiexi_btn" id="btn_<%= question.attributes['id'] %>">解析</button>
          <button class="biji_btn">笔记</button>
          <button onclick="javascript:document.getElementById('status').submit();">删出错题库</button>
        </div>
        <input type="hidden" id="btn_<%= question.attributes["id"] %>_answer" type="hidden" value="<%= answers.join(";") %>"/>
        <input type="hidden" id="btn_<%= question.attributes["id"] %>_analysis" type="hidden" value="<%= question.elements["analysis"].text %>"/>
        <%= form_for :exam, :html=> {:id => :status, :name => :exam_form}, :url => "/exam_lists/delete_problem" do |f|%>
          <input type="hidden" value="<%= question_with_answer.attributes["id"] %>" id="problem_id" name="problem_id"/>
          <input type="hidden" value="<%= question.attributes["id"] %>" name="question_id" />
          <input type="hidden" value="<%= params[:page].nil? ? 1:params[:page] %>" name="page" />
        <% end %>
        <div class="clear"></div>
       
      <% end %>
    </div>
  </div>
</div>




