<div class="part_div">
  <div class="part_question" >
    <% question_answer.elements["questions"].each_element do |question| %>
      <div class="part_q_text">
        <p><%= question.elements["description"].text if question.elements["description"] %> </p>
        <div class="fraction_h">10分</div>
      </div>
      <div class="p_question_list question_no"  >
        <div class="p_q_l_left"><%= question.attributes["id"] %></div>
        <div class="p_q_l_right_b">
          <% attrs_str = question.elements["questionattrs"].text
          attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
          correct_type = question.attributes["correct_type"]
          answer = question.elements["answer"]
          answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
          user_answer = question.get_elements("#{question.xpath}/user_answer")[-1].text
          user_answers = user_answer.nil? ? [] :  user_answer.split(";|;") %>
          <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
                correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
            <ul class="chooseQuestion">
              <%
              (0..attrs_array.length-1).each do |i|
                is_answer = answers.include?(attrs_array[i])
                is_user_answer=user_answers.include?(attrs_array[i])
              %>
                <li <% if is_answer %> class="correctRight_bg" <% end %>>
                  <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                   id="question_attr_<%= i %>"  <% if is_user_answer %>checked="true"<% end %> disabled/>
                                                 <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                   id="question_attr_<%= i %>" <% if is_user_answer %>checked="true"<% end %> disabled/>
                  <% end %>&nbsp;&nbsp;<%= attrs_array[i] %>
                </li>
              <% end if attrs_array and attrs_array.any? %>
            <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
              <div <% if answers[0].to_i==1 %>class="correctRight_bg"<% end %>>
                <input type="radio"<% if user_answer==1.to_s %> checked="true"<% end %> disabled/><label>对</label>
              </div>
              <div <% if answers[0].to_i==0 %>class="correctRight_bg"<% end %>>
                <input type="radio"  <% if user_answer==0.to_s %> checked="true"<% end %> disabled /><label>错</label>
              </div>
            <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
              <div class="answer_text">
                <input name="answer" type="text" value="<%= user_answers[0].to_s %>" disabled/>
              </div>
            <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
              <div class="answer_textarea">
                <textarea cols="" rows=""readonly><%= user_answers[0].to_s %></textarea>
              </div>
            <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
              <script type="text/javascript">
                droppable_result('<%= answers.join(",") %>', '<%= user_answers.join(",") %>', <%= question_answer.attributes["id"] %>);
              </script>
            <% end %>
          </ul>
          <div class="p_question_btn" style="display: none;"><button class="save">保存</button><button class="Uncertain">不确定</button></div>
          <div class="fraction"><%= question.attributes["score"] %>分</div>
        </div>
        <div class="clear"></div>
        <div class="review_btn">
          <a class="jiexi_btn" id="btn_<%= question.attributes['id'] %>" onclick="javascript:show_analysis('btn_<%= question.attributes['id'] %>');">解析</a>
        </div>
        <input type="hidden" id="btn_<%= question.attributes["id"] %>_answer" type="hidden" value="<%= answers.join(";") %>"/>
        <input type="hidden" id="btn_<%= question.attributes["id"] %>_analysis" type="hidden" value="<%= question.elements["analysis"].text %>"/>
      </div>
    <% end %>
  </div>
</div>


