  <div class="part_div">
    <div class="part_passage">
      <div class="p_contents">
        <p> <%=problem.elements['title'].text.to_s.html_safe  %></p>
      </div>
      <div class="fraction"><%= problem.attributes["score"] %>分</div>
    </div>
    <%= render :partial=>"/exam_lists/question_with_answer",:object=>problem %>
  </div>
  <div class="ep_prevNext">
    <input type="hidden" value="<%= params[:page] %>" id="current_page" />
    <% if params[:page] and params[:page].to_i > 1 %>
      <div class="ep_goLeft">
        <a href="<%= request.path %>?page=<%= params[:page].to_i - 1 %>">&lt;</a>
      </div>
    <% end %>

    <div class="ep_number"><span class="orange"><%= params[:page].nil? ? 1 :params[:page] %></span>/<%= @num %></div>
    <% if @has_next_page %>
      <% current_page = (params[:page] and params[:page].to_i > 1) ? params[:page].to_i : 1 %>
      <div class="ep_goRight"><a href="<%= request.path %>?page=<%= current_page + 1 %>">&gt;</a></div>
    <% end %>
  </div>