<%= javascript_include_tag "/javascripts/answer_sheet.js" %>
<link href="/stylesheets/jplayer/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/jplayer/jquery.jplayer.min.js"></script>
<% if @lists.nil? or @lists.elements["/collection/problems"].nil? or @lists.elements["/collection/problems/problem"].nil? %>
  <div class="errorLibrary_left">
    <%= "您目前没有错题" %>
  </div>
<% else %>
  <div class="errorLibrary_left">
    <div class="pattern"><a href="/exam_lists/<%= params[:id] %>/incorrect_list" class="chay_pat">查阅</a>
      <a href="/exam_lists/<%= params[:id] %>/question_info" class="lianx_pat">练习</a><div class="moveBlock">
        <img src="/images/paper/moveBlock.png" /></div></div>
    <div class="clear"></div>
    <div class="errorProblem_div">
      <% @lists.elements["/collection/problems"].each_element do |problem|%>
        <div class="part_div">
          <%= render :partial=>"/exam_lists/question_with_answer",:object=>problem %>
        </div>
        <div class="space20"></div>
      <% end %>
      <div class="sabrosus"><%= handle_paginate(params[:page], @num) %></div>
    </div>
  </div>
  <div class="errorLibrary_right">
    <div class="el_fenlei">
      <ul>
        <%= form_for :tags, :url=>"/exam_lists/#{params[:id]}/search_tag_problems" ,:html=>{:id=>:tag_name} do %>
          <input type="hidden" value="" id="tag" name="tag" />
        <% end %>
        <% @tags.each do |tag| %>
          <li><a href="javascript:(0)" onclick="javascript:search_tag('<%= tag %>')"><%= tag %></a></li>
        <% end unless @tags.blank? %>
      </ul>
    </div>
    <% @lists.elements["/collection/problems"].each_element do |problem|%>
      <% problem.elements["questions"].each_element do |question|%>
        <div class="cuoti" id="question_<%= question.attributes["id"] %>" style="display:none;">
          <%= render :partial=>"/exam_lists/feedback",:object=>[question,problem] %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div id="note_div"></div>
<div class="jiexi_tab" id="analysis_div">
  <div class="tab_t">
    <a href="javascript:void(0);" onclick="javascript:close_tab(this);"><img  src="/images/paper/x.gif" /></a>
  </div>
  <div class="tab_m">
    <h3 id="answer"></h3>
    <p id="analysis"></p>
  </div>
  <div class="tab_b"></div>
</div>
<div class="biji_tab" id="note_area">
  <div class="tab_t">
    <a href="javascript:void(0);" onclick="javascript:close_tab(this);"><img src="/images/paper/x.gif" /></a>
  </div>
  <div class="tab_m"  id="biji_tab">
    <img src="/images/ajax-loader.gif"/>
  </div>
  <div class="tab_b"></div>
</div>
