
<% if @incorrect_list.elements['problems'].blank? %>
  <%= "您目前没有错题"  %>
<% else %>
  <div class="biz_art_list_box">
    <span><h1>错题</h1></span>
    <% n=1 %>
    <% @incorrect_list.elements['problems'].each_element do |problem|%>
      <ul>
        <li>
          <h1>
            <%= "#{n}."+problem.elements['title'].text.to_s.html_safe %>
            <span style="float:right"><% if problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>单选题
              <% elsif problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>多选题
              <% elsif problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:JUDGE] %>判断题
              <% elsif problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>填空题
              <% elsif problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:COLLIGATION] %>综合题
              <% elsif problem.attributes["types"].to_i == Problem::QUESTION_TYPE[:CHARACTER] %>简答题
              <% end%>
            </span>
          </h1>
          <%= render :partial=>"/exam_lists/question_with_answer",:object=>problem %>
        </li>
      </ul>
      <% n +=1 %>
    <% end %>
  <% end %>
</div>
<div id="show_div"></div>
<div class="clear"></div>
<%= @num %>
<input type="button" onclick="javascript:ajax_problem_info()" value="开始复习"  />

<div class="cuoti">
  &nbsp;&nbsp;&nbsp;&nbsp;请在以下输入框输入你遇到的问题：
  <%= form_for :feedback, :url=>"/exam_lists/feedback" do |f| %>
    <div class="field">
      <%= f.text_area :description, :size => "30" %>
    </div>
    <div class="actions">
      <%= f.submit "提交问题" %>
    </div>
  <% end %>
  问题列表：<br/>
  <table>
    <% index=0 %>
    <% @feedbacks.each do |feedback| %>
      <% index += 1 %>
      <tr>
        <td><div class="xian2"></div><%= index %>：<%= feedback.description %></td>
      </tr>
      <tr>
        <%if feedback.answer==nil%>
          <td><font color="red">等待回答中...</font></td>
        <%else%>
          <td><%= feedback.answer %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
