<div class="main">
  <% if @lists.elements["/collection/problems"].blank? %>
    <%= "您目前没有错题"  %>
  <% else %>
    <div class="errorLibrary_left">
      <div class="pattern"><a href="/exam_lists/incorrect_list" class="chay_pat">查阅</a><div class="moveBlock_bg">
          <div class="moveBlock"><img alt="moveBlock" src="/images/paper/moveBlock.png" /></div></div><a href="/exam_lists/question_info" class="lianx_pat">练习</a></div>
      <div class="clear"></div>
        <div class="errorProblem_div">
          <% @lists.elements["/collection/problems"].each_element do |problem|%>
            <div class="part_passage">
              <div class="p_contents">
                <p> <%=problem.elements['title'].text.to_s.html_safe  %></p>
              </div>
              <div class="fraction"><%= problem.attributes["score"] %>分</div>
            </div>
              <%= render :partial=>"/exam_lists/question_with_answer",:object=>problem %>
            <div class="jiexi_tab" id="analysis_div">
              <div class="tab_t"><a href="#"><img  src="/images/paper/x.gif" /></a></div>
              <div class="tab_m">
                <h3 id="answer"></h3>
                <p id="analysis"></p>
              </div>
              <div class="tab_b"></div>
            </div>
            <div class="biji_tab" id="note_area">
              <div class="tab_t"><a href="#"><img src="/images/paper/x.gif" /></a></div>
              <div class="tab_m"  id="biji_tab">
              </div>
              <div class="tab_b"></div>
            </div>

            <div class="ep_prevNext">
              <input type="hidden" value="<%= params[:page] %>" id="current_page" />
              <% if params[:page] and params[:page].to_i > 1 %>
                <div class="ep_goLeft">
                  <a href="<%= request.path %>?page=<%= params[:page].to_i - 1 %>">&lt;</a>
                </div>
              <% end %>

              <div class="ep_number"><span class="orange"><%= params[:page].nil? ? 1 :params[:page] %></span>/<%= @num %></div>
              <% if @has_next_page %>
                <% current_page = (params[:page] and params[:page].to_i > 1) ? params[:page].to_i : 1 %>
                <div class="ep_goRight"><a href="<%= request.path %>?page=<%= current_page + 1 %>">&gt;</a></div>
              <% end %>
            </div>
          </div>
      </div>
      <% problem.elements["questions"].each_element do |question|%>
        <div class="cuoti" id="question_<%= question.attributes["id"] %>" style="display:none">
          <%= render :partial=>"/exam_lists/feedback",:object=>[question,problem] %>
        </div>
      <% end %>

    <% end
  end %>
</div>