<script type="text/javascript" src="/javascripts/plugin_assets/My97DatePicker/WdatePicker.js" ></script>
<div class="main_box_back">
  <div class="in">

    <div class="main">
      <div class="main_con">
        <div class="zhenti_box">
          <p><font color="red">*</font> 提示：已完成的四级真题，可点击进入进行解析和订正。</p>
          <% if @old_lists.blank? %>
            <p>暂无真题训练</p>
          <% else %>
            <ul>
              <% @old_lists.each do |examination| %>
                <% unless @hash["#{examination.id}"].nil?%>
                  <% if @hash["#{examination.id}"].is_submited.nil?||@hash["#{examination.id}"].is_submited==0%>
                    <li><a href="/user/examinations/<%= examination.id %>/do_exam" target="_blank"><span class="paper_time">
                          <%= examination.title %></span><span class="paper_over"></span></a></li>
                        <% else %>
                    <li><a href="/user/exam_users/<%= @hash["#{examination.id}"].eu_id %>" target="_blank"><span class="paper_time">
                          <%= examination.title %></span><span class="paper_over"><img alt="真题" src="/images/paper/paper_over.png" /></span></a></li>
                        <% end %>
                      <% else %>
                  <li><a href="/user/examinations/<%= examination.id %>/do_exam" target="_blank"><span class="paper_time">
                        <%= examination.title %></span><span class="paper_over"></span></a></li>
                      <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

