<%= javascript_include_tag "/javascripts/answer_sheet.js" %>
<div class="errorLibrary_left">
  <div class="pattern"><a href="/exam_lists/<%= params[:id] %>/incorrect_list" class="chay_pat">查阅</a><div class="moveBlock_bg">
      <div class="moveBlock" style="left: 49px; "><img alt="moveBlock" src="/images/paper/moveBlock.png" /></div></div><a href="/exam_lists/<%= params[:id] %>/question_info" class="lianx_pat">练习</a></div>
  <div class="clear"></div>
  <div class="errorProblem_div">
    <div id="show_div">
      <% attr="" %>
      <div class="part_div">
        <div class="part_question" >

          <% if @problem.attributes["types"].to_i != Problem::QUESTION_TYPE[:MORE_BLANKS] %>
            <div class="part_q_text">
              <%=  @problem.elements['title'].text %>
              <div class="fraction_h"><%= @problem.attributes["score"] %></div>
            </div>
          <% else %>
            <div class="task3_li">
              <% @problem.elements["questions"].each_element do |question| %>
                <%  attrs_str=question.elements["questionattrs"].text
                attrs_array=attrs_str.split(";-;") unless attrs_str.nil? %>
                <ul id="question_attrs_<%= question.attributes["id"] %>">
                  <% attrs=attrs_array.shuffle %>
                  <% (0..attrs.length-1).each do |i|  %>
                    <li><%= attrs[i] %></li>
                  <% end %>
                </ul>
              <% description =question.elements['description'].text.to_s.gsub("problem_x_dropplace", "problem_#{@problem.attributes["id"]}_dropplace") %>
              <input type="hidden" value="<%= description %>" id="description_<%=question.attributes["id"]  %>" />
              <script type="text/javascript"> show_drag_answer(<%= question.attributes["id"] %>,'<%= @problem.attributes["id"] %>','<%=description
                  %>');</script>
              <% end %>
            </div>

          <% end %>
          <% @problem.elements["questions"].each_element do |question| %>
            <% attr +=question.attributes["id"]+","
            attrs_str=question.elements["questionattrs"].text
            attrs_array=attrs_str.split(";-;") unless attrs_str.nil?
            correct_type = question.attributes["correct_type"]
          %>
            <div class="p_question_list question_no"  >
              <div class="p_q_l_left"><%= question.attributes["id"] %></div>
              <div class="p_q_l_right_b">
                <% unless  question.elements['description'].nil? || question.elements['description'].text.nil?%>
                  <div <% if correct_type.to_i != Problem::QUESTION_TYPE[:MORE_BLANKS]  %>  class="question_title" <% else %>class="q_drag_con" <% end %> >
                    <p style="word-wrap:break-word; word-break:break-all;">
                      <% title = question.elements['description'].text.to_s.html_safe %>
                      <% if title =~ /<mp3>/  %>
                        <script type="text/javascript">audio_element("<%= title.split("<mp3>")[1] %>");</script>
                        <%= title.split("<mp3>")[2].to_s.html_safe.
                          gsub("problem_x_dropplace", "problem_#{@problem.attributes["id"]}_dropplace") %>
                        <script type="text/javascript">
                          droppable_element('<%= title.split("<mp3>")[2].to_s.html_safe %>', <%= @problem.attributes["id"] %>);
                        </script>
                      <% else %>
                        <% description=question.elements['description'].text.to_s.html_safe.
                          gsub("problem_x_dropplace", "problem_#{@problem.attributes["id"]}_dropplace") %>
                        <%= description %>
                        <script type="text/javascript">
                          droppable_element('<%=description %>', <%=@problem.attributes["id"] %>);
                        </script>
                      <% end %>
                    </p></div>
                <% end %>
                <% if correct_type.to_i != Problem::QUESTION_TYPE[:MORE_BLANKS]  %>
                  <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
                        correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
                    <ul class="chooseQuestion">
                      <% (0..attrs_array.length-1).each do |i|  %>
                        <li>
                          <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                            <input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                   id="question_attr_<%= i %>"/>
                                 <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                            <input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                   id="question_attr_<%= i %>"/>
                          <% end %>&nbsp;&nbsp;<%= attrs_array[i] %>
                        </li>
                      <% end if attrs_array and attrs_array.any? %>
                    </ul>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
                    <div><input type="radio"/><label>对</label></div>
                    <div><input type="radio" /><label>错</label></div>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
                    <div class="answer_text"><input name="answer" type="text" value=""/></div>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
                    <div class="answer_textarea"><textarea cols="" rows=""></textarea></div>
                  <% end %>
                <% end %>

                <div class="p_question_btn" style="display: none;"><button class="save">保存</button><button class="Uncertain">不确定</button></div>
                <div class="fraction"><%= question.attributes["score"] %>分</div>
              </div>
              <div class="clear"></div>
              <input type="hidden" value=" " id="answer_<%= question.attributes["id"] %>"  name="answer_<%= question.attributes["id"] %>"/>
              <input type="hidden" value="<%=correct_type  %>" id="question_type_<%= question.attributes["id"] %>" />
            </div>
          <% end %>
          <input type="hidden" value="<%= @problem.attributes["id"] %>" id="problem_id" />
        </div>
      </div>
      <div class="tb_checkBox">
        <a class="tb_check" href="javascript:void(0);" onclick="javascript:problem_values();"></a>
      </div>
    </div>
  </div>
  <input type="hidden" value="<%= attr.chop  %>" id="all_question" />
  <div class="sabrosus"><%= handle_paginate(params[:page], @num) %></div>
</div>
<input type="hidden" value="<%= params[:page].nil? ? 1:params[:page] %>" id="current_page" />

