<div class="errorLibrary_left">
  <div class="pattern"><a href="/exam_lists/<%= params[:id] %>/incorrect_list" class="chay_pat">查阅</a><div class="moveBlock_bg">
      <div class="moveBlock" style="left: 49px; "><img alt="moveBlock" src="/images/paper/moveBlock.png" /></div></div><a href="/exam_lists/<%= params[:id] %>/question_info" class="lianx_pat">练习</a></div>
  <div class="clear"></div>
  <div class="errorProblem_div">
    <div class="part_passage">
      <p> <%=@problem.elements['title'].text.to_s.html_safe  %></p>
      <div class="fraction"><%= @problem.attributes["score"] %>分</div>
    </div>
    <div class="space20"></div>
    <div id="show_div">
      <div class="part_div">
        <div class="part_question">
          <% attr="" %>
          <% @problem.elements["questions"].each_element do |question| %>
            <div class="part_q_text">
              <p><%= question.elements["description"].text if question.elements["description"] %> </p>
              <div class="fraction_h">10分</div>
            </div>
            <% attr +=question.attributes["id"]+"," %>
            <div class="p_question_list question_no"  >
              <div class="p_q_l_left"><%= question.attributes["id"] %></div>
              <div class="p_q_l_right_b">
                <%
                attrs_str=question.elements["questionattrs"].text
                attrs_array=attrs_str.split(";-;") unless attrs_str.nil?
                correct_type = question.attributes["correct_type"]
              %>
                <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
                      correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
                  <ul class="chooseQuestion">
                    <% (0..attrs_array.length-1).each do |i| %>
                      <li>
                        <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                          &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                         id="question_attr_<%= i %>"/>
                                                       <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                          &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                         id="question_attr_<%= i %>" />
                        <% end %>&nbsp;&nbsp;<%= attrs_array[i] %>
                      </li>
                    <% end if attrs_array and attrs_array.any? %>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
                    <div >
                      <input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"/><label>对</label>
                    </div>
                    <div>
                      <input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"/><label>错</label>
                    </div>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
                    <div class="answer_text">
                      <input name="answer" type="text" value="" id="question_answer_<%= question.attributes["id"].to_i %>"/>
                    </div>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
                    <div class="answer_textarea" >
                      <textarea cols="" rows="" id="question_answer_<%= question.attributes["id"].to_i %>"></textarea>
                    </div>
                  <% end %>
                </ul>
                <div class="p_question_btn" style="display: none;"><button class="save">保存</button><button class="Uncertain">不确定</button></div>
                <div class="fraction"><%= question.attributes["score"] %>分</div>
              </div>
              <div class="clear"></div>
              <input type="hidden" value=" " id="answer_<%= question.attributes["id"] %>"  name="answer_<%= question.attributes["id"] %>"/>
              <input type="hidden" value="<%=correct_type  %>" id="question_type_<%= question.attributes["id"] %>" />
            </div>
            <input type="hidden" value="<%= @problem.attributes["id"] %>" id="problem_id" />
          <% end %>
        </div>
      </div>
      <div class="tb_checkBox">
        <a class="tb_check" href="javascript:void(0);" onclick="javascript:problem_values();"></a>
      </div>
    </div>
    <input type="hidden" value="<%= params[:page].nil? ? 1:params[:page] %>" id="current_page" />
    <input type="hidden" value="<%= attr.chop  %>" id="all_question" />
    <div class="sabrosus"><%= handle_paginate(params[:page], @num) %></div>
  </div>
</div>

<div class="jiexi_tab" id="analysis_div">
  <div class="tab_t"><a href="#"><img  src="/images/paper/x.gif" /></a></div>
  <div class="tab_m">
    <h3 id="answer"></h3>
    <p id="analysis"></p>
  </div>
  <div class="tab_b"></div>

</div>