<%= javascript_include_tag "/javascripts/answer_sheet.js" %>
<div class="errorLibrary_left">
  <div class="pattern"><a href="/exam_lists/<%= params[:id] %>/incorrect_list" class="chay_pat">查阅</a><div class="moveBlock_bg">
      <div class="moveBlock" style="left: 49px; "><img alt="moveBlock" src="/images/paper/moveBlock.png" /></div></div><a href="/exam_lists/<%= params[:id] %>/question_info" class="lianx_pat">练习</a></div>
  <div class="clear"></div>
  <div class="errorProblem_div">
    <div id="show_div">
      <% attr="" %>
      <div class="part_div">
        <div class="part_question">
          <% unless @problem.elements['title'].nil? or @problem.elements['title'].text.nil? or @problem.elements['title'].text == "" %>
            <% if @problem.elements['title'].text.length>500 %>
              <div class="chank_yw"><a href="javascript:void(0);" onclick="openwindow(<%= @problem.attributes["id"] %>);">查看全文</a></div>
            <% end %>
            <div class="part_q_text part_q_sl">
              <div class="question_text_div" style="word-wrap:break-word; word-break:break-all;">
                <%  title = @problem.elements["title"].text
                if title =~ /<mp3>/  %>
                  <script type="text/javascript">audio_element("<%= title.split("<mp3>")[1] %>");</script>
                  <%= title.split("<mp3>")[2].to_s.html_safe.gsub("problem_x_dropplace", "problem_#{@problem.attributes["id"]}_dropplace") %>
                <% elsif title.length>500 %>
                  <%= truncate_u(title.to_s.html_safe.gsub(/<[^{><}]*>/, ""), 195, "......").to_s.html_safe %>
                <% else %>
                  <%= title %>
                <% end %>
              </div>
              <div style="display:none;" id="title_<%= @problem.attributes["id"] %>">
                <%= @problem.elements["title"].text.to_s.html_safe %>
              </div>
              <%= render :partial=>"/exam_lists/more_blanks", :object=> @problem  %>
            </div>
          <% end %>
          <% index=0 %>
          <% @problem.elements["questions"].each_element do |question| %>
            <% index +=1 %>
            <% attr +=question.attributes["id"]+","
            attrs_str=question.elements["questionattrs"].text
            attrs_array=attrs_str.split(";-;") unless attrs_str.nil?
            correct_type = question.attributes["correct_type"]
          %>
  <%# if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
            <!--  <div class="task3_li">
                <ul id="question_attrs_<%#= question.attributes["id"] %>">
  <%# attrs=attrs_array.shuffle %>
  <%# (0..attrs.length-1).each do |i| %>
                    <li><%#= attrs[i] %></li>
  <%# end %>
                </ul>
                <script type="text/javascript"> show_drag_answer(<%#= question.attributes["id"] %>);</script>
              </div>
              <div class="clear"></div> -->
  <%# end %>
            <div class="p_question_list question_no">
              <div class="p_q_l_left"><%= index  %></div>
              <div class="p_q_l_right_b" id="drag_question_<%= question.attributes["id"] %>">
                <% unless  question.elements['description'].nil? or question.elements['description'].text.nil? or
                    question.elements['description'].text == "" %>
                  <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
                    <div class="q_drag_con" style="word-wrap:break-word; word-break:break-all;">
                      <% description = question.elements['description'].text.to_s.html_safe.
                        gsub("problem_x_dropplace", "problem_#{@problem.attributes["id"]}_dropplace") %>
                      <p><%= description %></p>
                      <script type="text/javascript">
                        droppable_element('<%=description %>', <%=@problem.attributes["id"] %>);
                      </script>
                    </div>
                  <% else %>
                    <div class="question_title" style="word-wrap:break-word; word-break:break-all;">
                      <%= question.elements["description"].text.to_s.html_safe  %>
                    </div>
                  <% end %>
                <% end %>
                <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
                      correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
                  <ul class="chooseQuestion">
                    <% (0..attrs_array.length-1).each do |i|  %>
                      <li>
                        <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                          <input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                 id="question_attr_<%= i %>" value="<%= attrs_array[i] %>"/>
                               <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                          <input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                 id="question_attr_<%= i %>" value="<%= attrs_array[i] %>"/>
                        <% end %>&nbsp;&nbsp;<%= attrs_array[i] %>
                      </li>
                    <% end if attrs_array and attrs_array.any? %>
                  </ul>
                <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
                  <ul class="chooseQuestion">
                    <li><input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                               id="question_attr_<%= question.attributes["id"].to_i %>" value="1"/><label>对</label></li>
                    <li><input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                               id="question_attr_<%= question.attributes["id"].to_i %>" value="0" /><label>错</label></li>
                  </ul>
                <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
                  <div class="answer_text">
                    <input name="question_answer_<%= question.attributes["id"].to_i %>"
                           id="question_answer_<%= question.attributes["id"].to_i %>" type="text" value=""/>
                  </div>
                <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
                  <div class="answer_textarea"><textarea cols="" rows="" name="question_answer_<%= question.attributes["id"].to_i %>"
                                                         id="question_answer_<%= question.attributes["id"].to_i %>"></textarea></div>
                  <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
                  <div class="answer_text"><input name="answer" type="text" value="" name="question_answer_<%= question.attributes["id"].to_i %>"
                                                  id="question_answer_<%= question.attributes["id"].to_i %>"/></div>
                  <% end %>
              </div>
              <div class="clear"></div>
              <input type="hidden" value=" " id="answer_<%= question.attributes["id"] %>"  name="answer_<%= question.attributes["id"] %>"/>
              <input type="hidden" value="<%=correct_type  %>" id="question_type_<%= question.attributes["id"] %>" />
              <div style="display:none;"
                   id="answer_<%= @problem.attributes["id"] %>"></div>
              <div style="display:none;"
                   id="user_answers_<%= @problem.attributes["id"] %>"></div>
            </div>
          <% end %>
          <input type="hidden" value="<%= @problem.attributes["id"] %>" id="problem_id" />
        </div>
      </div>
      <div class="tb_checkBox">
        <a class="tb_check" href="javascript:void(0);" onclick="javascript:problem_values();"></a>
      </div>
    </div>
  </div>
  <input type="hidden" value="<%= attr.chop  %>" id="all_question" />
  <div class="sabrosus"><%= handle_paginate(params[:page], @num) %></div>
</div>
<input type="hidden" value="<%= params[:page].nil? ? 1:params[:page] %>" id="current_page" />
<div class="jiexi_tab" id="analysis_div">
  <div class="tab_t">
    <a href="javascript:void(0);" onclick="javascript:close_tab(this);"><img  src="/images/paper/x.gif" /></a>
  </div>
  <div class="tab_m">
    <h3 id="answer"></h3>
    <p id="analysis"></p>
  </div>
  <div class="tab_b"></div>
</div>
