<%= javascript_include_tag 'pileadd' %>
<div class="errorLibrary_left">
  <div class="part_question" id="show_div">
    <% attr="" %>
    <% @problem.elements["questions"].each_element do |question| %>
      <% attr +=question.attributes["id"]+"," %>
      <div class="p_question_list question_no"  >
        <div class="p_q_l_left"><%= question.attributes["id"] %></div>
        <div class="p_q_l_right">
          <div class="p_contents">
            <p>小题描述：
              &nbsp;&nbsp;&nbsp;&nbsp;<%= question.elements["description"].text if question.elements["description"] %>
            </p>
          </div>
          <ul class="chooseQuestion">
            <% ""
            attrs_str=question.elements["questionattrs"].text
            attrs_array=attrs_str.split(";-;") unless attrs_str.nil?
            correct_type = question.attributes["correct_type"]
            (0..attrs_array.length-1).each do |i|
            %>
              <li>
                <div class="attr">
                  <% if !correct_type.nil? %>
                    <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
                      &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                     id="question_attr_<%= i %>" value="<%=attrs_array[i]  %>"  />
                                                   <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
                      &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                                                     id="question_attr_<%= i %>" value="<%=attrs_array[i]  %>" />
                                                   <% end %>
                    <label><%= attrs_array[i] %></label>
                  <% end %>
                </div>
              <% end if attrs_array and attrs_array.any? %>
              <div class="attr" >
                <% if correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
                  <div >&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>" value="<%=attrs_array[i]  %>"/><label>对</label></div>
                  <div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>" value="<%=attrs_array[i]  %>"/><label>错</label></div>
                <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] or correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER]
                  %><div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="textfield" id="question_answer_<%= question.attributes["id"].to_i %>" value=""/></div>
                  <% end  %>
              </div>
            </li>
          </ul>
          <div class="p_question_btn" style="display: none;"><button class="save">保存</button><button class="Uncertain">不确定</button></div>
          <div class="fraction"><%= question.attributes["score"] %>分</div>
        </div>
        <div class="clear"></div>
        <input type="hidden" value=" " id="answer_<%= question.attributes["id"] %>"  name="answer_<%= question.attributes["id"] %>"/>
        <input type="hidden" value="<%=correct_type  %>" id="question_type_<%= question.attributes["id"] %>" />
      </div>
      <input type="hidden" value="<%= @problem.attributes["id"] %>" id="problem_id" />
    <% end %>
    <div class="tb_checkBox"><a class="tb_check"></a></div>
    <div class="ep_prevNext">
      <input type="hidden" value="<%= params[:page].nil? ? 1:params[:page] %>" id="current_page" />
      <input type="hidden" value="<%= attr.chop  %>" id="all_question" />
      <% if params[:page] and params[:page].to_i > 1 %>
        <div class="ep_goLeft">
          <a href="<%= request.path %>?page=<%= params[:page].to_i - 1 %>">&lt;</a>
        </div>
      <% end %>
      <div class="ep_number"><span class="orange"><%= params[:page].nil? ? 1 :params[:page] %></span>/<%= @num %></div>
      <% if @has_next_page %>
        <% current_page = (params[:page] and params[:page].to_i > 1) ? params[:page].to_i : 1 %>
        <div class="ep_goRight"><a href="<%= request.path %>?page=<%= current_page + 1 %>">&gt;</a></div>
      <% end %>
    </div>
  </div>
</div>