<%= javascript_include_tag 'pileadd' %>
<div class="mokao_box">
  <% if @examination_lists.blank? %>
    <p> 暂无模拟考试</p>
  <% else %>
    <div class="mokao_left">
      <% exam_lists = @examination_lists[0, 3] %>
      <% exam_lists.each_with_index do |exam, i|  %>
        <% examination = exam %>
        <div class="mokaoList  <%  if i==0 %> mkl_h  <% end %>" id="<%= i %>"><h3><%= examination.title %></h3><p>
            <% if i == 0 %>
              2011-10-17开放
            <% elsif i == 1 %>
              2011-10-24开放
            <% elsif i == 2 %>
              2011-11-21开放
            <% else %>
              <%= examination.start_at_time.nil? ? "任何时候" : examination.start_at_time.strftime("%Y-%m-%d") %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="mokao_right">
      <div class="mk_r_tab" >
        <% exam_lists.each_with_index do |exam, i|  %>
          <% examination = exam %>
          <div class="mk_r_div mkList_jt<%= i %>"  <%  if i > 0 %> style="display:none" <% end %> >
            <div class="cet_title"></div>
            <p class="begin_time_p">考试时间：<span class="blue"><%= examination.start_at_time.nil? ? "任何时间":examination.start_at_time.strftime("%m-%d-%Y") %></span></p>
            <% unless @hash["#{examination.id}"].nil? or @hash["#{examination.id}"][0].total_score.nil? %>
              <div class="chak_dj_d"><a class="chak_dajuan" href="/user/exam_users/<%= @hash["#{examination.id}"][0].id %>" target="_blank">查看答卷</a></div>
            <% end %>
            <h2>总分：
              <span class="red">
                <% if (is_vip?).to_s == "true" %>
                  <% unless @hash["#{examination.id}"].nil? %>
                    <%=  @hash["#{examination.id}"][0].total_score.nil? ? "阅卷中" :@hash["#{examination.id}"][0].total_score %>
                  <% end %>
                <% else %>
                  <img src="/images/paper/V.png" />
                <% end %>
              </span>
            </h2>
            <% unless @hash["#{examination.id}"].nil? %>
              <% if !@hash["#{examination.id}"] || @hash["#{examination.id}"][0].total_score.nil?%>
                <div class="mk_table">
                  <table width="300" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                      <td><strong>听力</strong>(20%)</td>
                      <td><strong>阅读</strong>(40%)</td>
                      <td><strong>综合</strong>(25%)</td>
                      <td><strong>作文&翻译</strong>(15%)</td>
                    </tr>
                    <tr>
                      <% if (is_vip?).to_s == "true" %>
                        <td>阅卷中</td>
                        <td>阅卷中</td>
                        <td>阅卷中</td>
                        <td>阅卷中</td>
                      <% else %>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                      <% end %>
                    </tr>
                  </table>
                </div>
              <% else %>
                <div class="mk_table">
                  <% scores=@hash["#{examination.id}"][2].get_elements("//blocks/block") %>
                  <table width="300" border="0" cellspacing="1" cellpadding="0">
                    <tr>
                      <td><strong>听力</strong>(20%)</td>
                      <td><strong>阅读</strong>(40%)</td>
                      <td><strong>综合</strong>(25%)</td>
                      <td><strong>作文&翻译</strong>(15%)</td>
                    </tr>
                    <tr>
                      <% if (is_vip?).to_s == "true" %>
                        <td><%= scores[2].nil? ? "阅卷中" :scores[2].attributes["score"].to_i %></td>
                        <% second_score=(scores[1].nil? ? 0 :scores[1].attributes["score"].to_i) + (scores[3].nil? ? 0 :scores[3].attributes["score"].to_i) %>
                        <% if scores[1].nil? && scores[3].nil? %>
                          <td><%= "阅卷中" %></td>
                        <% else %>
                          <td><%= second_score %></td>
                        <% end %>
                        <td><%= scores[4].nil? ? "阅卷中" :scores[4].attributes["score"].to_i  %></td>
                        <% forth_score= (scores[0].nil? ? 0 :scores[0].attributes["score"].to_i) + (scores[5].nil? ? 0 :scores[5].attributes["score"].to_i) %>
                        <% if scores[0].nil? && scores[5].nil? %>
                          <td><%= "阅卷中" %></td>
                        <% else %>
                          <td><%= forth_score %></td>
                        <% end %>
                      <% else %>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                        <td><img src="/images/paper/V.png" /></td>
                      <% end %>
                    </tr>
                  </table>
                </div>
              <% end %>
            <% else %>
              <div class="mk_table">
                <table width="300" border="0" cellspacing="1" cellpadding="0">
                  <tr>
                    <td><strong>听力</strong>(20%)</td>
                    <td><strong>阅读</strong>(40%)</td>
                    <td><strong>综合</strong>(25%)</td>
                    <td><strong>作文&翻译</strong>(15%)</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>20</td>
                    <td><img src="/images/paper/V.png" /></td>
                    <td><img src="/images/paper/V.png" /></td>
                  </tr>
                </table>
              </div>
            <% end %>
            <% unless (is_vip?).to_s == "true" %>
              <div class="mk_r_p">
                <span class="red">*</span> 升级为VIP账户后您可以享受主观题专业老师阅卷的服务，并进一步获取信心指数，以达到更好的备考效果。
                <a href="/users/goto_vip">升级VIP</a>
              </div>
            <% end %>
          </div>
          <% if @hash["#{examination.id}"].nil? || !@hash["#{examination.id}"][0].is_submited ==1%>
            <div class="mk_b_zz" id="mk_<%= i %>" <%  if i > 0 %> style="display:none" <% end %>>
              <% if (is_vip?).to_s == "true" %>
                <div class="mk_b_yh">做为高级用户，在您考试完毕三个工作日内，将有老师批改你的答卷，你将得到完整的成绩报告。</div>
              <% else %>
                <div class="mk_b_yh">
                  升级为VIP账户后您可以享受主观题专业老师阅卷的服务，并进一步获取信心指数，以达到更好的备考效果。
                  <a href="/users/goto_vip" style="color: #F00;">升级VIP</a> </div>
              <% end %>
              <%  if (!examination.start_at_time.nil? and !examination.exam_time.nil? and examination.exam_time !=0 and
                    (examination.start_at_time + examination.exam_time.minutes) < Time.now) or examination.status == Examination::STATUS[:CLOSED] %>
                <div class="per_btn"><a href="#">考试已结束</a></div>
              <% elsif !examination.start_at_time.nil? and !examination.exam_time.nil? and examination.exam_time !=0 and
                  examination.start_at_time  > Time.now %>
                <div class="per_btn"><a href="#">尚未开始</a></div>
              <% else %>
                <% if examination.exam_password1.nil? %>
                  <div class="per_btn"><a href="/user/examinations/<%= examination.id %>/do_exam" target="_blank">开始考试</a></div>
                <% else %>
                  <div class="per_btn"><a href="/user/examinations/<%= examination.id %>/enter_password" target="_blank">开始考试</a></div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

