
<%= javascript_include_tag 'jeffrey' %>
<%= javascript_include_tag 'cookie' %>
<script language="javascript" type="text/javascript">
  var papers = new Object();
</script>
<%= javascript_include_tag "#{@paper_url}" %>
<%= form_for :paper , :url => "/user/combine_practices/#{@examination.id}/save_result",
  :html => {:name => "paper_form", :id => "paper_form",
  :onsubmit => "return generate_result_paper('#{@examination.paper_id}')"} do |f| %>
  <div id="paper_show_info">
    <% if @practice_type==Examination::TYPES[:PRACTICE1].to_s %>
      <div class="task_title task_title_one"><a href="#"><img alt="Explain_icon" src="/images/paper/Explain_icon.png"/></a></div>
    <% elsif @practice_type==Examination::TYPES[:PRACTICE2].to_s  %>
      <div class="task_title task_title_two"><a href="#"><img alt="Explain_icon" src="/images/paper/Explain_icon.png"/></a></div>
    <% elsif @practice_type==Examination::TYPES[:PRACTICE3].to_s  %>
      <div class="task_title task_title_three"><a href="#"><img alt="Explain_icon" src="/images/paper/Explain_icon.png"/></a></div>
    <% elsif @practice_type==Examination::TYPES[:PRACTICE4].to_s  %>
      <div class="task_title task_title_four"><a href="#"><img alt="Explain_icon" src="/images/paper/Explain_icon.png"/></a></div>
    <% elsif @practice_type==Examination::TYPES[:PRACTICE5].to_s  %>
      <div class="task_title task_title_five"><a href="#"><img alt="Explain_icon" src="/images/paper/Explain_icon.png"/></a></div>
    <% end %>
    <div class="soso">
      <input type="hidden" name="practice_type" id="practice_type" value="<%= @practice_type %>"/>
      <input type="hidden" name="canplaytime" id="canplaytime" value="<%= Constant::CANPLAYTIME["practice_#{@practice_type.to_i}"] %>"/>
      <input type="hidden" name="paper_id" id="paper_id" value=""/>
      <input type="hidden" name="all_quesiton_ids" id="all_question_ids" value=""/>
      <input type="hidden" name="problem_ids" id="problem_ids" value=""/>
      <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
      <input type="hidden" id="total_num"/>
      <input type="hidden" id="complete_num"/>
      <!--      <div>题目数：共<span id="total_num"></span>题/已完成<span id="complete_num">0</span>题</div>   -->
      <div><span id="local_time"></span></div>

    </div>
  </div>
  <div class="soso" id="paper_navigation">
    <br/>
    <div class="clear"></div>
  </div>
  <div id="blocks">
    <div id="block_ids" style="display:none;"></div>
  </div>
  <div id="remote_div" style="display:none;"></div>
  <input type="hidden" name="types" value="<%= @examination.types %>"/>
  <input type="hidden" name="answer_url" id="answer_url"
         value="<%= Constant::ANSWER_CLIENT_PATH %>/<%= @examination.exam_user_id %>.xml"/>
  <div class="clear"></div>
  <div class="tb_prevNext">
  <a href="#" id="tb_goleft" class="tb_goleft"></a>
  <%= f.submit "",:class=>"tb_check"%>
  <a href="#" id="tb_goright" class="tb_goright"></a>
</div>

<% end %>
  

<script type="text/javascript" src="/javascripts/local_save/answer.js" charset="utf-8"></script>
<%= javascript_include_tag "#{Constant::SERVER_PATH}/javascripts/jeff_answer_paper.js" %>
<script language="javascript" type="text/javascript">
 
  //用户保存本地存储的答案
  var answer_hash = null;
  //load已有的答案
  load_answer('<%= @exam_user.paper_id %>', '<%= @examination.id %>');

  //定时模块完成定时器
  var load_fix_time = null;

  //页面load成功之后加载试卷
  window.onload(load_paper(<%= @practice_type %>));
  answer_hash = null;


</script>

