
<%= javascript_include_tag 'jeffrey' %>
<%= javascript_include_tag 'cookie' %>
<script language="javascript" type="text/javascript">
  var papers = new Object();
</script>
<%= javascript_include_tag "#{@paper_url}" %>

<% url="/user/combine_practices/#{@examination.id}/check_step" %>

<%= form_for :paper , :url =>url,
  :html => {:name => "paper_form", :id => "paper_form",
  :onsubmit => "return generate_result_paper('#{@examination.paper_id}', '#{@examination.id}',#{@practice_type});"} do |f| %>

  <% if @practice_type==2 %>
    <div class="tb_loading"><div class="tb_loading_t width_8"></div></div>
    <div class="tb_name">
      <span class="tb_n_task1 tb_n_taskColor">Task I</span>
      <span class="tb_n_task2">Task II</span>
      <span class="tb_n_task3">Task III</span>
      <span class="tb_n_task4">Task IV</span>
      <span class="tb_n_task5">Task V</span>
    </div>
  <% elsif @practice_type==3  %>
    <div class="tb_loading"><div class="tb_loading_t width_122"></div></div>
    <div class="tb_name">
      <span class="tb_n_task1">Task I</span>
      <span class="tb_n_task2 tb_n_taskColor">Task II</span>
      <span class="tb_n_task3">Task III</span>
      <span class="tb_n_task4">Task IV</span>
      <span class="tb_n_task5">Task V</span>
    </div>
  <% elsif @practice_type==4  %>
    <div class="tb_loading"><div class="tb_loading_t width_233"></div></div>
    <div class="tb_name">
      <span class="tb_n_task1">Task I</span>
      <span class="tb_n_task2">Task II</span>
      <span class="tb_n_task3 tb_n_taskColor">Task III</span>
      <span class="tb_n_task4">Task IV</span>
      <span class="tb_n_task5">Task V</span>
    </div>
  <% elsif @practice_type==5  %>
    <div class="tb_loading"><div class="tb_loading_t width_345"></div></div>
    <div class="tb_name">
      <span class="tb_n_task1">Task I</span>
      <span class="tb_n_task2">Task II</span>
      <span class="tb_n_task3">Task III</span>
      <span class="tb_n_task4 tb_n_taskColor">Task IV</span>
      <span class="tb_n_task5">Task V</span>
    </div>
  <% elsif @practice_type==6  %>
    <div class="tb_loading"><div class="tb_loading_t width_457"></div></div>
    <div class="tb_name">
      <span class="tb_n_task1">Task I</span>
      <span class="tb_n_task2">Task II</span>
      <span class="tb_n_task3">Task III</span>
      <span class="tb_n_task4">Task IV</span>
      <span class="tb_n_task5 tb_n_taskColor">Task V</span>
    </div>
  <% end %>
  <div>
    <input type="hidden" name="practice_type" id="practice_type" value="<%= @practice_type %>"/>
    <input type="hidden" name="canplaytime" id="canplaytime" value="<%= Constant::CANPLAYTIME["practice_#{@practice_type.to_i}"] %>"/>
    <input type="hidden" name="paper_id" id="paper_id" value=""/>
    <input type="hidden" name="all_quesiton_ids" id="all_question_ids" value=""/>
    <input type="hidden" name="problem_ids" id="problem_ids" value=""/>
    <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
    <input type="hidden" name="show_answer" id="show_answer" value="<%= @answer_array %>"/>
  </div>
  <div id="block_ids" style="display:none;"></div>
  <div id="blocks">
  </div>
  <div id="remote_div" style="display:none;"></div>
  <input type="hidden" name="types" value="<%= @examination.types %>"/>
  <input type="hidden" name="answer_url" id="answer_url"
         value="<%= Constant::ANSWER_CLIENT_PATH %>/<%= @examination.exam_user_id %>.xml"/>
  <div class="tb_checkBox">
    <%= f.submit "",:class=>"tb_check"%>
  </div>

<% end %>

<script type="text/javascript" src="/javascripts/local_save/answer.js" charset="utf-8"></script>
<%= javascript_include_tag "#{Constant::SERVER_PATH}/javascripts/jeff_answer_paper.js" %>
<script language="javascript" type="text/javascript">

  //本地存储所需变量finish
  var local_timer = null;
  var local_start_time = "05:00:00";
  var local_finish_time = "00:00:00";

  //用户保存本地存储的答案
  var answer_hash = new Hash();
  //load已有的答案
  load_answer('<%= @exam_user.paper_id %>', '<%= @examination.id %>');

  //定时模块完成定时器
  var load_fix_time = null;

  //页面load成功之后加载试卷
  load_paper(<%= @practice_type %>);
  answer_hash = new Hash();


</script>

