<%= javascript_include_tag 'jeffrey' %>
<%= javascript_include_tag 'cookie' %>
<script language="javascript" type="text/javascript">
  var papers = new Object();
</script>
<%= javascript_include_tag "#{@paper_url}" %>

<% url="/user/combine_practices/#{@examination.id}/check_step" %>

<%= form_for :paper , :url =>url,
  :html => {:name => "paper_form", :id => "paper_form",
  :onsubmit => "return generate_result_paper('#{@examination.paper_id}', '#{@examination.id}',#{@practice_type});"} do |f| %>
  <%
  loading_length = 8
  if @practice_type == 3
    loading_length = 122
  elsif @practice_type == 4
    loading_length = 233
  elsif @practice_type == 5
    loading_length = 345
  elsif @practice_type == 6
    loading_length = 457
  end
%>
  <div class="tb_loading"><div class="tb_loading_t width_<%= loading_length %>"></div></div>
  <div class="tb_name">
    <span class="tb_n_task1 <% if @practice_type==2 %>tb_n_taskColor<% end %>">Task I</span>
    <span class="tb_n_task2 <% if @practice_type==3 %>tb_n_taskColor<% end %>">Task II</span>
    <span class="tb_n_task3 <% if @practice_type==4 %>tb_n_taskColor<% end %>">Task III</span>
    <span class="tb_n_task4 <% if @practice_type==5 %>tb_n_taskColor<% end %>">Task IV</span>
    <span class="tb_n_task5 <% if @practice_type==6 %>tb_n_taskColor<% end %>">Task V</span>
  </div>
  <div>
    <input type="hidden" name="practice_type" id="practice_type" value="<%= @practice_type %>"/>
    <input type="hidden" name="canplaytime" id="canplaytime" value="<%= Constant::CANPLAYTIME["practice_#{@practice_type.to_i}"] %>"/>
    <input type="hidden" name="paper_id" id="paper_id" value=""/>
    <input type="hidden" name="all_quesiton_ids" id="all_question_ids" value=""/>
    <input type="hidden" name="problem_ids" id="problem_ids" value=""/>
    <input type="hidden" name="examination_id" id="examination_id" value="<%= @examination.id %>"/>
    <input type="hidden" name="show_answer" id="show_answer" value="<%= @answer_array %>"/>
  </div>
  <div id="jquery_jplayer" style="height:0px;width:0px;"></div>
  <div id="block_ids" style="display:none;"></div>
  <div id="blocks">
  </div>
  <div id="remote_div" style="display:none;"></div>
  <input type="hidden" name="types" value="<%= @examination.types %>"/>
  <input type="hidden" name="answer_url" id="answer_url"
         value="<%= Constant::ANSWER_CLIENT_PATH %>/<%= @exam_user.answer_sheet_url %>"/>
  <div class="tb_content_btn">
    <% if @practice_type==3 %>
      <%= f.submit "", :class=>"explain_btn_next" %>
    <% else %>
      <%= f.submit "", :class=>"explain_btn_checknext" %>
    <% end %>
  </div>
  <input type="button" value="显示答案" id="show_answer_button" style="display:none;" onclick="javascript:show_display_answer();"></input>

<% end %>

<script type="text/javascript" src="/javascripts/local_save/answer.js" charset="utf-8"></script>
<%= javascript_include_tag "#{Constant::SERVER_PATH}/javascripts/jeff_answer_paper.js" %>
<script language="javascript" type="text/javascript">

  jQuery("#jquery_jplayer").jPlayer({
    ended: function(){
      playing=0;
      if($("audio_control_"+last_audio)!=null){
        $("audio_control_"+last_audio).title="播放";
        $("audio_control_"+last_audio).src="/images/paper/play_icon.png";
      }
      if($("practice2_audio_control_"+last_audio)!=null){
        $("practice2_audio_control_"+last_audio).title="播放";
        $("practice2_audio_control_"+last_audio).src="/images/paper/play_icon.png";
      }
      last_audio=0;
    },
    swfPath: "/javascripts/jplayer",
    supplied: "mp3",
    preload:"auto"
  });

  var server_path="<%= Constant::SERVER_PATH %>";
  var back_server_path="<%= Constant::BACK_SERVER_PATH %>";
  //用户保存本地存储的答案
  var answer_hash = new Hash();
  //load已有的答案
  load_answer('<%= @exam_user.paper_id %>', '<%= @examination.id %>');

  //定时模块完成定时器
  var load_fix_time = null;

  //页面load成功之后加载试卷
  load_paper(<%= @practice_type %>);
  answer_hash = new Hash();


</script>
