<div class="products_list_style_box" id="question_info_<%= single_question.attributes["id"].to_i %>" style="display:none">
  <div class="arrow" style="top:35px;"></div>
  <div class="big_pic_box" style="top:0px;">
    <div class="in">
      <div class="title">
        <div>
          <%= single_question.elements["title"].text.to_s.html_safe %>
        </div>
        <% if params[:result].nil? and @exam and cookies[:user_id].to_i == @exam.user_id %>
        <% end %>
        <div class="clear"></div>
      </div>
      <% single_question.elements["questions"].each_element do |question| %>
        <%= render :partial => "/user/exam_users/question_with_answer", :object => question %>
        <div>
          <%= form_remote_tag :method => "post", :update => "note_div",
          :url => "/user/notes?paper_id=#{@doc.attributes["id"]}&examination_id=#{@doc.elements["paper"].attributes["id"]}&problem_id=#{single_question.attributes["id"]}" do -%>
          <input type="hidden" name="problem_content_<%= single_question.attributes["id"] %>" value="<%= single_question.to_s %>" />
          <input type="button" name="note_<%= question_with_answer.attributes["id"] %>" 
                 id="note_<%= question_with_answer.attributes["id"] %>" value="记笔记" class="submit_btn"
                 onclick="javascript:start_note(<%= question_with_answer.attributes["id"] %>);" />
          <div id=""></div>
          <% end -%>
        </div>
      <% end %>
    </div>
  </div>
</div>