<%  question = single_question[0]
    question_num = single_question[1]
    problem = single_question[2]
    attrs_str = question.elements["questionattrs"].text
    attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
    correct_type = question.attributes["correct_type"]
    answer = question.elements["answer"]
    answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
    user_answer = question.attributes["user_answer"]
    user_answers = user_answer.nil? ? [] :  user_answer.split(";|;")
    is_right = false
    all_answer = answers | user_answers
    is_right = true if all_answer == answers and answers - user_answers == []
%>
<div class="p_question_list <% if is_right %>question_yes<% else %>question_no<% end %>">
  <div class="p_q_l_left"><%= question_num %></div>
  <div class="p_q_l_right">
    <% if question.elements["description"] %>
      <p><%= question.elements["description"].text  %></p>
    <% end %>
    <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
          correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
      <ul class="chooseQuestion">
        <% (0..attrs_array.length-1).each do |i|
          is_answer = answers.include?(attrs_array[i])
          is_user_answer = user_answers.include?(attrs_array[i]) %>
          <li <% if is_answer %> class="correctRight_bg" <% end %>>
            <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
              <input type="checkbox" name="question_attr_<%= question.attributes["id"].to_i %>"
                     id="question_attr_<%= i %>"  <% if is_user_answer %>checked="true"<% end %> />
                   <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
              <input type="radio" name="question_attr_<%= question.attributes["id"].to_i %>"
                     id="question_attr_<%= i %>" <% if is_user_answer %>checked="true"<% end %> />
                   <% end %>
            &nbsp;&nbsp;<%= attrs_array[i] %>
          </li>
        <% end if attrs_array and attrs_array.any? %>
      </ul>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
      <div <% if answers[0].to_i==1 %>class="correctRight_bg"<% end %>>
        <input type="radio"<% if user_answer==1.to_s %> checked="true"<% end %>  /><label>对</label>
      </div>
      <div <% if answers[0].to_i==0 %>class="correctRight_bg"<% end %>>
        <input type="radio"  <% if user_answer==0.to_s %> checked="true"<% end %>  /><label>错</label>
      </div>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
      <div class="answer_text">
        <input name="answer" type="text" value="<%= user_answers[0].to_s %>" />(<%= answers[0].to_s %>)
      </div>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
      <div class="answer_textarea">
        <textarea cols="" rows=""><%= user_answers[0].to_s %></textarea>(<%= answers[0].to_s %>)
      </div>
    <% end %>
    <div class="fraction">
      <% if @examination.types == Examination::TYPES[:SIMULATION] %><font color="red"><% if question.attributes["user_score"] %>
            <%= question.attributes["user_score"] %><% else %>0<% end %></font>/<%= question.attributes["score"] %>分<% end %>
    </div>
  </div>
  <input type="hidden" id="btn_<%= question.attributes["id"] %>_answer" type="hidden" value="<%= answers.join(";") %>"/>
  <input type="hidden" id="btn_<%= question.attributes["id"] %>_analysis" type="hidden" 
         value="<%= "解析：" + question.elements["analysis"].text unless (question.elements["analysis"].nil? or
             question.elements["analysis"].text.nil? or question.elements["analysis"].text == "") %>"/>
  <div class="clear"></div>
  <div class="review_btn">
    <% unless question.elements["analysis"].nil? or question.elements["analysis"].text.nil? or
        question.elements["analysis"].text == "" %>
      <button class="jiexi_btn" id="btn_<%= question.attributes["id"] %>">解析</button>
    <% end %>
    <button class="biji_btn"
            name="note_<%= question.attributes["id"] %>" id="note_<%= question.attributes["id"] %>"
            onclick="javascript:start_note(<%= question.attributes["id"] %>, <%= problem.attributes["id"] %>,
            <%= @doc.elements["paper"].attributes["id"] %>, <%= @doc.attributes["id"] %>,
  '<%= problem.xpath %>', '<%= question.xpath %>');">笔记</button>
    <button name="collection_<%= question.attributes["id"] %>" id="collection_<%= question.attributes["id"] %>"
            onclick="javascript:start_collection(<%= question.attributes["id"] %>,
            <%= problem.attributes["id"] %>, <%= @doc.elements["paper"].attributes["id"] %>,
            <%= @doc.attributes["id"] %>, '<%= problem.xpath %>', '<%= question.xpath %>');">加入错题库</button>
  </div>
</div>