<%  question = single_question[0]
question_num = single_question[1]
problem = single_question[2]
attrs_str = question.elements["questionattrs"].text
attrs_array = attrs_str.split(";-;") unless attrs_str.nil?
correct_type = question.attributes["correct_type"]
answer = question.elements["answer"]
answers = (answer.nil? or answer.text.nil?) ? [] : answer.text.split(";|;")
user_answer = question.attributes["user_answer"]
user_answers = user_answer.nil? ? [] :  user_answer.split(";|;")
is_right = false
all_answer = answers | user_answers
is_right = true if all_answer == answers and answers - user_answers == []
%>
<div class="p_question_list <% if is_right %>question_yes<% else %>question_no<% end %>" id="que_out_<%= question.attributes['id'] %>">
  <div class="p_q_l_left"><%= question_num %></div>
  <div class="p_q_l_right">
    <% if question.elements["description"] %>
      <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_BLANKS] %>
        <div class="q_drag_con" style="word-wrap:break-word; word-break:break-all;">
          <p><%= question.elements["description"].text.to_s.html_safe.
              gsub("problem_x_dropplace", "problem_#{problem.attributes["id"]}_dropplace") %>
          </p>
        </div>
        <script type="text/javascript">
          droppable_result('<%= answers.join(",") %>', '<%= user_answers.join(",") %>', <%= problem.attributes["id"] %>);
        </script>
      <% else %>
        <div class="question_title" style="word-wrap:break-word; word-break:break-all;">
          <%= question.elements["description"].text.to_s.html_safe %>
        </div>
      <% end %>
    <% end %>
    <% if (correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] or
          correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE]) %>
      <ul class="chooseQuestion">
        <% (0..attrs_array.length-1).each do |i|
          is_answer = answers.include?(attrs_array[i])
          is_user_answer = user_answers.include?(attrs_array[i]) %>
          <li <% if is_answer %> class="correctRight_bg" <% end %>>
            <% if correct_type.to_i == Problem::QUESTION_TYPE[:MORE_CHOSE] %>
              <input type="checkbox" disabled name="question_attr_<%= question.attributes["id"].to_i %>"
                     id="question_attr_<%= i %>"  <% if is_user_answer %>checked="true"<% end %> />
                   <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CHOSE] %>
              <input type="radio" disabled name="question_attr_<%= question.attributes["id"].to_i %>"
                     id="question_attr_<%= i %>" <% if is_user_answer %>checked="true"<% end %> />
                   <% end %>
            &nbsp;&nbsp;<%= attrs_array[i] %>
          </li>
        <% end if attrs_array and attrs_array.any? %>
      </ul>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:JUDGE] %>
      <ul class="chooseQuestion">
        <li <% if answers[0].to_i==1 %>class="correctRight_bg"<% end %>>
          <input type="radio"<% if user_answer==1.to_s %> checked="true"<% end %> disabled  /><label>对/是</label>
        </li>
        <li <% if answers[0].to_i==0 %>class="correctRight_bg"<% end %>>
          <input type="radio"  <% if user_answer==0.to_s %> checked="true"<% end %> disabled  /><label>错/否</label>
        </li>
      </ul>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:SINGLE_CALK] %>
      <div class="answer_text">
        <input name="answer" type="text" value="<%= user_answers[0].to_s %>" disabled />
      </div>
    <% elsif correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] %>
      <div class="answer_textarea">
        <textarea disabled cols="" rows=""><%= user_answers[0].to_s %></textarea>
      </div>
    <% end %>
    <% if @examination.types == Examination::TYPES[:SIMULATION] %>
      <div class="fraction">
        <font color="red"><% if question.attributes["user_score"] %>
            <%= question.attributes["user_score"] %><% else %>0<% end %></font>/<%= question.attributes["score"] %>分
      </div>
    <% end %>
    <div class="space20"></div>
  </div>
  <% answer_text = correct_type.to_i == Problem::QUESTION_TYPE[:CHARACTER] ? "参考答案：" : "正确答案：" %>
  <input type="hidden" id="btn_<%= question.attributes["id"] %>_answer" type="hidden"
         value="<%= answer_text + answers.join("<br/>").to_s.html_safe %>"/>
  <input type="hidden" id="btn_<%= question.attributes["id"] %>_analysis" type="hidden" 
         value="<%= "解析：" + question.elements["analysis"].text.to_s.html_safe unless (question.elements["analysis"].nil? or
             question.elements["analysis"].text.nil? or question.elements["analysis"].text == "") %>"/>
  <div class="review_btn">
    <% unless question.elements["analysis"].nil? or question.elements["analysis"].text.nil? or
        question.elements["analysis"].text == "" %>
      <a class="jiexi_btn" href="javascript:void(0);" id="btn_<%= question.attributes["id"] %>">解析</a>
    <% end %>
    <a class="biji_btn" href="javascript:void(0);"
       name="note_<%= question.attributes["id"] %>" id="note_<%= question.attributes["id"] %>"
       onclick="javascript:start_note(<%= question.attributes["id"] %>, <%= problem.attributes["id"] %>,
       <%= @doc.elements["paper"].attributes["id"] %>, <%= @doc.attributes["id"] %>,
  '<%= problem.xpath %>', '<%= question.xpath %>');">笔记</a>
    <a href="javascript:void(0);" name="collection_<%= question.attributes["id"] %>"
       id="collection_<%= question.attributes["id"] %>"
       onclick="javascript:start_collection(<%= question.attributes["id"] %>,
       <%= problem.attributes["id"] %>, <%= @doc.elements["paper"].attributes["id"] %>,
       <%= @doc.attributes["id"] %>, '<%= problem.xpath %>', '<%= question.xpath %>');">加入关注</a>
  </div>
  <div class="clear"></div>
</div>