<%= javascript_include_tag "/javascripts/answer_sheet.js" %>
<%= javascript_include_tag 'pileadd' %>

<div id="note_div"></div>
<div class="testPaper_top">
  <div class="tp_top_box">
    <div class="paper_name"><%= @xml.elements['base_info'].elements['title'].text if @xml!=nil %></div>
    <div class="timer"><%= @doc.elements["paper"].attributes["score"].nil? ? "分数暂未公布":" 得  分:"+ @doc.elements["paper"].attributes["score"] %></div>
    <div class="paper_info"><strong><%= @xml.attributes["total_num"]%></strong>题</div>
  </div>
</div>

<div class="testPaper_main">
  <% block_index = 0
  problem_ids = ""
  question_num = 1 %>
  <% @xml.elements['blocks'].each_element do |block| %>
    <div class="tp_left" id="block_<%= block.attributes["id"] %>" <% if block_index > 0 %>style="display: none;"<% end %>>
      <div class="part_title">
        <%= block.elements['base_info'].elements['title'].text %>
        <% if block.attributes["time"] and block.attributes["time"] != "" %>( <%= block.attributes["time"] %> minutes )<% end %>
      </div>
      <div class="part_box">
        <div class="part_div">
          <% block.elements['problems'].each_element do |problem| %>
            <% problem_ids += problem.attributes["id"] + "," %>
            <% if !problem.elements['title'].nil? %>
              <div class="part_passage">
                <div class="p_directions">
                  <p><%= problem.elements['title'].text.to_s.html_safe %></p>
                </div>
                <div class="fraction"><%= problem.attributes["score"] %>分</div>
              </div>
            <% end %>
            <div class="part_question" id="question_info_<%= problem.attributes["id"].to_i %>">
              <div>
                <% question_ids = ""
                problem.elements["questions"].each_element do |question| %>
                  <% question_ids += question.attributes["id"] + "," %>
                  <%= render :partial=>"/user/exam_users/single_question",:object=> [question,question_num]  %>
                  <% question_num = question_num + 1 %>
                <% end %>
                <input type="hidden" id="question_ids_<%= problem.attributes["id"] %>"
                       name="question_ids_<%= problem.attributes["id"] %>" value="<%= question_ids %>" />
              </div>
            </div>
          <% end if !block.elements['problems'].nil? %>
        </div>
      </div>
    </div>
    <% block_index += 1 %>
  <% end %>
  <input type="hidden" id="problem_ids" name="problem_ids" value="<%= problem_ids %>"/>

  <div class="tp_right" id="paper_navigation">
    <% block_index = 0
    block_ids = "" %>
    <% @xml.elements['blocks'].each_element do |block|%>
      <% block_ids = block_ids == "" ? block.attributes["id"] : block_ids + "," + block.attributes["id"] %>
      <div class="first_title <% if block_index == 0 %>highLight<% end %>" id="block_nav_<%= block.attributes["id"] %>"  onclick="javascript:open_nav('<%= block.attributes["id"] %>');">
        <p><%= block.elements['base_info'].elements['title'].text %>
          <% if block.attributes["time"] and block.attributes["time"] != "" %>( <%= block.attributes["time"] %> minutes )<% end %>
        </p>
        <ul class="second_menu" <% if block_index > 0 %>style="display: none;"<% end %> id="nav_block_<%= block.attributes["id"] %>">
          <% block.elements['problems'].each_element do |problem| %>
            <% problem.elements["questions"].each_element do |question| %>
              <li><a href="#"><img src="/images/paper/yida.png" /></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% block_index += 1 %>
    <% end %>
    <div id="block_ids" style="display:none;"><%= block_ids %></div>
  </div>
</div>
<div class="clear"></div>
<div class="testPaper_foot"></div>
<div class="jiexi_tab">
  <div class="tab_t"><a href="#"><img src="/images/paper/x.gif" /></a></div>
  <div class="tab_m">
    <h3>正确答案（D）</h3>
    <p>解析：北京时间8月25日消息，据国外媒体报道，苹果董事会今天宣布，公司标志性的人物史蒂夫·乔布斯即将卸任首席执行官一职。目前乔布斯正饱受病痛的困扰，不过，他仍将担任苹果董事会主席职务。</p>
  </div>
  <div class="tab_b"></div>
</div>

<div class="biji_tab">
  <div class="tab_t"><a href="#"><img src="/images/paper/x.gif" /></a></div>
  <div class="tab_m">
    <div class="tab_m_textarea"><textarea name="" cols="42"></textarea></div>
    <div class="p_question_btn"><button class="save">保存</button></div>
  </div>
  <div class="tab_b"></div>
</div>
