<%= javascript_include_tag "#{Constant::SERVER_PATH}/javascripts/answer_sheet.js" %>
<div id="note_div"></div>
<div id="paper_show_info">
  <ul class="tab_biz">
    <li class="actived"><a href="javascript:void(0);"><%= @xml.elements['base_info'].elements['title'].text if @xml!=nil %></a></li>
  </ul>
  <div class="soso">
    <div align="right"><font color="red" ><strong><%= @doc.elements["paper"].attributes["score"].nil? ? "分数暂未公布":" 总  分:"+ @doc.elements["paper"].attributes["score"] %>
        </strong></font></div>
    <div>试卷编号：<%= @xml.attributes['id']%></div>
    <div>出卷时间：<%= @xml.elements['base_info'].elements['created_at'].text%></div>
    <div>最后修改时间：<%= @xml.elements['base_info'].elements['updated_at'].text%></div>
    <div>总题数：<%= @xml.attributes["total_num"]%></div>
    <div>卷面总分：<%= @xml.attributes["total_score"]%></div>
    <div>备注：<%= @xml.elements['base_info'].elements['description'].text%></div>
  </div>
</div>
<div class="soso" id="paper_navigation">
  <div>试卷导航</div>
  <% num = 1
  block_index = 0
  block_ids = "" %>
  <% @xml.elements['blocks'].each_element do |block|%>
    <% block_ids = block_ids == "" ? block.attributes["id"] : block_ids + "," + block.attributes["id"] %>
    <div id="block_nav_<%= block.attributes["id"] %>" <% if block_index > 0 %>style="display: none;"<% end %>>
      <%= block.elements['base_info'].elements['title'].text %><br/>
      <% block.elements['problems'].each_element do |problem| %>
        <% problem.elements["questions"].each_element do |question| %>
          <div id="question_nav_<%= question.attributes["id"] %>" class="problem_nav_div">
            <a href="javascript:void(0);"
               onclick="javascript:get_question_height(<%= question.attributes["id"] %>, <%= problem.attributes["id"] %>);">
                 <%= num %>
            </a>
            <% num += 1 %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>
    <div id="block_hidden_nav_<%= block.attributes["id"] %>" <% if block_index == 0 %>style="display:none;"<% end %>>
      <a href="javascript:void(0);" onclick="javascript:open_nav(<%= block.attributes["id"] %>, '');">
        <%= block.elements['base_info'].elements['title'].text %>
      </a><br/>
    </div>
    <% block_index += 1 %>
  <% end %>
</div>
<div id="block_ids" style="display:none;"><%= block_ids %></div>
<% block_index = 0
 problem_ids = "" %>
<% @xml.elements['blocks'].each_element do |block| %>
  <div id="block_<%= block.attributes["id"] %>" <% if block_index > 0 %>style="display: none;"<% end %>>
    <h1 class="biz_art_title" id="block_show">
      <%= block.elements['base_info'].elements['title'].text %> (共<%= block.attributes['total_num'] %>题，总分:<%= block.attributes['total_score'] %>分)
    </h1>
    <div class="biz_art_list_box">
      <%= block.elements["base_info"].elements["description"].text %>
      <ul>
        <% if !block.elements['problems'].nil? %>
          <% block.elements['problems'].each_element do |problem| %>
            <% problem_ids += problem.attributes["id"] + "," %>
            <% if !problem.elements['title'].nil? %>
              <li id="li_<%= problem.attributes["id"] %>">
                <%= render :partial=>"/user/exam_users/single_question",:object=>problem %>
                <h2>
                  <a href="javascript:void(0)"
                     onclick="javascript:question_info(<%= problem.attributes["id"].to_i %>)">
                       <%= truncate_u(problem.elements['title'].text.to_s.html_safe, 40) %>
                  </a>
                </h2>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <% block_index += 1 %>
<% end %>
<input type="hidden" id="problem_ids" name="problem_ids" value="<%= problem_ids %>"/>
<div class="clear"></div>
