<div class="head_top">
  <div class="top_myGankao">    
  </div>
  <div class="top_loginArea">
    <div class="top_la_ks">
      <% if cookies[:user_id] %>
        你好,<a href="/users/<%= cookies[:user_id] %>/edit">
          <%= current_user.name if current_user %>
        </a>
        <a href="/signout" class="signColor">退出</a>
      <% else %>
        你好,<a href="/sessions/new" class="signColor">登录</a>
        |<a href="/users/new" class="signColor">注册</a>
      <% end %>
    </div>
  </div>
</div>
<div class="logo"><a href="/"><img src="/images/paper/logo.png" /></a></div>
<div class="nav">
  <div class="menu">
    <ul>
      <li>
        <a href="/user/homes/<%= params[:id] %>" <% if request.path == "/user/homes/1" %>class="hover"<% end %>>首页</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/simulate_list?id=<%= params[:id] %>" <% if request.path == "/exam_lists/simulate_list" %>class="hover"<% end %>>模拟考试</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/old_exam_list?id=<%= params[:id] %>" <% if request.path == "/exam_lists/old_exam_list" %>class="hover"<% end %>>真题训练</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li><a href="/combine_practices?id=<%= params[:id] %>" <% if request.path == "/combine_practices" %>class="hover"<% end %>>综合训练</a></li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/incorrect_list"
        <% if request.path == "/exam_lists/incorrect_list" or  request.path == "/exam_lists/question_info" %>
             class="hover"<% end %>>错题库
        </a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li><a href="/user/notes" <% if request.path == "/user/notes" %>class="hover"<% end %>>笔记</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>