<div class="head_top">
  <div class="top_myGankao">    
  </div>
  <div class="top_loginArea">
    <div class="top_la_ks">
      <% if cookies[:user_id] %>
        Welcome,<a href="/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>" class="signColor">
                <%= current_user.name if current_user %></a>
                <% if (is_vip?).to_s == "true" %><img src="/images/paper/V.png" /><% else %><a href="/users/goto_vip"><img src="/images/paper/v0.png" /></a><% end %>
              |
        <a href="/users/<%= cookies[:user_id] %>/edit">个人中心</a>
        |<a href="/signout" class="signColor">退出</a>
      <% else %>
        你好,<a href="/sessions/new" class="signColor">登录</a>
        |<a href="/users/new" class="signColor">注册</a>
      <% end %>
    </div>
  </div>
</div>
<div class="logo"><a href="/"><img src="/images/paper/logo1.png" /></a></div>
<div class="nav">
  <div class="menu">
    <ul>
      <li>
        <a href="/user/homes/<%= params[:id] %>" <% if request.path == "/user/homes/#{params[:id]}" %>class="hover"<% end %>>首页</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/<%= params[:id] %>/simulate_list" <% if request.path == "/exam_lists/#{params[:id]}/simulate_list" %>class="hover"<% end %>>模拟考试</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/<%= params[:id] %>/old_exam_list" <% if request.path == "/exam_lists/#{params[:id]}/old_exam_list" %>class="hover"<% end %>>真题训练</a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li><a href="/combine_practices/<%= params[:id] %>" <% if request.path == "/combine_practices/#{params[:id]}" %>class="hover"<% end %>>综合训练</a></li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li>
        <a href="/exam_lists/<%= params[:id] %>/incorrect_list"
        <% if request.path == "/exam_lists/#{params[:id]}/incorrect_list" or
            request.path == "/exam_lists/#{params[:id]}/question_info" %>
             class="hover"<% end %>>错题库
        </a>
      </li>
      <li><img src="/images/paper/menu_li.png" /></li>
      <li><a href="/user/notes/<%= params[:id] %>" <% if request.path == "/user/notes/#{params[:id]}" %>class="hover"<% end %>>笔记</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>