<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- manifest="test.manifest"-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="qc:admins" content="21202472216716317637" />
    <meta property="wb:webmaster" content="ea995cbcdcb2234b" />
    <meta property="qc:admins" content="451101654576716317637" />
    <title><%= @title %></title>
    <%= javascript_include_tag :defaults %>
    <%= use_validate_js_tooltip %>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="/javascripts/lunbo.js"></script>
    <script type="text/javascript" src="/javascripts/TestPaper.js"></script>
    <script type="text/javascript">
      jQuery.noConflict();
    </script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');

      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26018499-1']);
      _gaq.push(['_setDomainName', 'gankao.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <%= yield %>
    <%=  render :partial => "/common/flash_div" %>
  </body>
</html>
