<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <link href="/stylesheets/member.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/exercise.css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="/javascripts/TestPaper.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <%= javascript_include_tag :defaults %>
    <%= use_validate_js_tooltip %>
    <%= javascript_include_tag 'pileadd' %>
    <%= javascript_include_tag 'tab' %>
    <!--[if IE 6]>
    <script src="/javascripts/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');

      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26018499-1']);
      _gaq.push(['_setDomainName', 'gankao.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="wrap">
      <div class="head">
        <div class="head_box">
          <div class="top_qq"><span>在线客服</span><a href="tencent://message/?uin=2568830556&amp;Site=赶考网&amp;Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:2568830556:7" alt="有事点这里"></a></div>
          <div class="member_nav">
            Welcome,<a href="/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>" class="signColor">
              <%= current_user.name if current_user %></a>
            <% if (is_vip?).to_s == "true" %><img src="/images/paper/V.png" /><% else %><a href="/users/goto_vip"><img src="/images/paper/v0.png" /></a><% end %>
            |
            <a href="/users/<%= cookies[:user_id] %>/edit">个人中心</a>|
            <a href="/signout" class="signColor">退出</a>
          </div>
          <div class="member_logo"><img src="/images/paper/member_logo.png" /></div>
        </div>
      </div>
      <%= yield %>
      <div class="clear"></div>
      <div class="foot">
        <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="http://weibo.com/gankao2011" target="_blank">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
        <p>Copyright © 2011 苏州协创软件有限公司 版权所有 苏ICP备11024201</p>

      </div>
    </div>
    <%= render :partial => "/common/flash_div" %>
  </body>
</html>
